{% load i18n %}

<div class="container pt-4 pb-3">
    <div class="important-links">
        <a href="{% url 'main:terms' %}">{% trans 'Termes et conditions' %}</a>
        <a href="{% url 'main:privacy' %}">{% trans 'Politique de confidentialité' %}</a>
        <a href="{% url 'main:about' %}">{% trans 'À propos' %}</a>
        <a href="{% url 'main:contact' %}">{% trans 'Contact' %}</a>
    </div>
    <div class="social-media my-2">
        <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" title="Github"><i class="fab fa-github"></i></a>
        <a href="#" title="Youtube"><i class="fab fa-youtube"></i></a>
        <a href="#" title="Discord"><i class="fab fa-discord"></i></a>
    </div>
    <div class="copyright">
        <h3>
            &copy; <a href="{% url 'main:index' %}" class="primary-color">ProgLangLearn</a>
        </h3>
        <p class="mt-0">{% trans 'Tous droits réservés' %}</p>
    </div>
</div>
