{% load static cart_template_tags i18n socialaccount %}

{% if user.is_authenticated %}
    {% get_social_accounts user as accounts %}
{% endif %}
<nav id="main-navbar" class="navbar navbar__primary navbar__fixed">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="navbar-logo">
        <a href="{% url 'main:index' %}" title="{% trans "Retour à l'accueil" %}">ProgLangLearn</a>
    </div>
    <ul class="navbar-links">
        <li class="navbar-item">
            <a {% if activate == 'list' %}class="active"{% endif %} href="{% url 'courses:list' %}"><i class="fas fa-laptop-code"></i>&nbsp;{% trans 'Cours' %}</a>
        </li>
        <li class="navbar-item">
            <a {% if activate == 'article-list' %}class="active"{% endif %} href="{% url 'articles:list' %}"><i class="fas fa-blog"></i>&nbsp;{% trans 'Blog' %}</a>
        </li>
        <li class="navbar-item">
            <a {% if activate == 'subject-list' %}class="active"{% endif %} href="{% url 'forum:subject-list' %}"><i class="far fa-question-circle"></i>&nbsp;{% trans 'Forum' %}</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'main:billing:cart' %}"><i class="fas fa-shopping-cart"></i>&nbsp;{% trans 'Panier' %}&nbsp;<span class="badge badge__danger" id="cart_item_count">&nbsp;{{ request.user|cart_item_count }}&nbsp;</span></a>
            </li>
        {% endif %}
    </ul>
    <div class="navbar-search-expandable" id="expand-search">
        <form action="{% url 'main:search' %}" method="GET">
            {{ navbar_search_form.q }}
            <i class="fas fa-search"></i>
        </form>
    </div>
    <div class="navbar-changeable">
        {% if not user.is_authenticated %}
            <a href="{% url 'account_login' %}" title="{% trans 'Se connecter à mon compte' %}" class="btn btn__outline__light mr-1">{% trans 'Connexion' %}</a>
        {% else %}
            <div class="dropdown-toggle">
                <img src="{% if accounts %}{{ request.user.socialaccount_set.all.0.get_avatar_url }}{% else %}{{ user.profile.image.url }}{% endif %}" alt="{% trans 'Photo de profil' %}"
                    class="navbar-profile-image profile-image round-image" title="{% trans 'Votre photo de profil actuelle' %}" />
                <span>{{ user.username }}</span>
                <ul class="navbar-dropdown-menu navbar-dropdown-right">
                    {% if user.is_staff %}
                        <li class="navbar-dropdown-item">
                            <a href="{% url 'admin:index' %}"><i class="fas fa-tools"></i>&nbsp;{% trans 'Administration' %}</a>
                        </li>
                        <li class="navbar-dropdown-item">
                            <hr class="navbar-dropdown-divider" />
                        </li>
                    {% endif %}
                    {% if user.profile.is_teacher %}
                        <li class="navbar-dropdown-item">
                            <a {% if activate == 'article-create' %}class="active" {% endif %} href="{% url 'articles:create' %}"><i class="fas fa-newspaper"></i>&nbsp;{% trans 'Créer un article' %}</a>
                        </li>
                        <li class="navbar-dropdown-item">
                            <hr class="navbar-dropdown-divider" />
                        </li>
                    {% endif %}
                    {% if user.profile.is_teacher %}
                        <li class="navbar-dropdown-item">
                            <a {% if activate == 'create' %}class="active" {% endif %} href="{% url 'courses:create' %}"><i class="far fa-plus-square"></i>&nbsp;{% trans 'Créer un cours' %}</a>
                        </li>
                        <li class="navbar-dropdown-item">
                            <hr class="navbar-dropdown-divider" />
                        </li>
                    {% endif %}
                    <li class="navbar-dropdown-item">
                        <a {% if activate == 'dashboard' %}class="active" {% endif %} href="{% url 'main:analytics:dashboard' %}"><i class="fas fa-chart-area"></i>&nbsp;{% trans 'Tableau de bord' %}</a>
                    </li>
                    <li class="navbar-dropdown-item">
                        <a {% if activate == 'profile' %}class="active" {% endif %} href="{% url 'accounts:profile' user_id=request.user.id %}"><i class="fas fa-user-tie"></i>&nbsp;{% trans 'Mon profil' %}</a>
                    </li>
                    <li class="navbar-dropdown-item">
                        <a {% if activate == 'account' %}class="active" {% endif %} href="{% url 'accounts:account' %}"><i class="fas fa-user-cog"></i>&nbsp;{% trans 'Mon compte' %}</a>
                    </li>
                    <li class="navbar-dropdown-item">
                        <a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i>&nbsp;{% trans 'Se déconnecter' %}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>