{% load static cart_template_tags %}

<nav id="main-navbar" class="navbar navbar__primary navbar__fixed">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="navbar-logo">
        <a href="{% url 'main:index' %}" title="Retour à l'accueil">ProgLangLearn</a>
    </div>
    <ul class="navbar-links">
        <li class="navbar-item">
            <a {% if activate == 'list' %}class="active"{% endif %} href="{% url 'courses:list' %}"><i class="fas fa-laptop-code"></i> Cours</a>
        </li>
        <li class="navbar-item">
            <a {% if activate == 'article-list' %}class="active"{% endif %} href="{% url 'articles:list' %}"><i class="fas fa-blog"></i> Blog</a>
        </li>
        <li class="navbar-item">
            <a href="pages/forum_list.html"><i class="far fa-question-circle"></i> Forum</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="navbar-item">
                <a href="{% url 'main:billing:cart' %}"><i class="fas fa-shopping-cart"></i> Panier&nbsp;<span class="badge badge__danger">&nbsp;{{ request.user|cart_item_count }}&nbsp;</span></a>
            </li>
        {% endif %}
    </ul>
    <div class="navbar-search-expandable" id="expand-search">
        <form action="{% url 'main:search' %}" method="get">
            {{ navbar_search_form.q }}
            <i class="fas fa-search"></i>
        </form>
    </div>
    <div class="navbar-changeable">
        {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}" class="btn btn__outline__light mr-1">Connexion</a>
        {% else %}
            <div class="dropdown-toggle">
                <img src="{{ user.profile.image.url }}" alt="Photo de profil"
                    class="navbar-profile-image profile-image round-image" title="Voir mon profil" />
                <span>{{ user.username }}</span>
                <ul class="navbar-dropdown-menu navbar-dropdown-right">
                    {% if user.is_staff %}
                        <li class="navbar-dropdown-item">
                            <a href="{% url 'admin:index' %}"><i class="fas fa-tools"></i> Administration</a>
                        </li>
                        <li class="navbar-dropdown-item">
                            <hr class="navbar-dropdown-divider" />
                        </li>
                        <li class="navbar-dropdown-item">
                            <a {% if activate == 'article-create' %}class="active" {% endif %} href="{% url 'articles:create' %}"><i class="fas fa-newspaper"></i> Créer un article</a>
                        </li>
                        <li class="navbar-dropdown-item">
                            <hr class="navbar-dropdown-divider" />
                        </li>
                    {% endif %}
                    {% if user.profile.is_teacher %}
                        <li class="navbar-dropdown-item">
                            <a {% if activate == 'create' %}class="active" {% endif %} href="{% url 'courses:create' %}"><i class="far fa-plus-square"></i> Créer un cours</a>
                        </li>
                        <li class="navbar-dropdown-item">
                            <hr class="navbar-dropdown-divider" />
                        </li>
                    {% endif %}
                    <li class="navbar-dropdown-item">
                        <a href="pages/dashboard.html"><i class="fas fa-chart-area"></i> Tableau de bord</a>
                    </li>
                    <li class="navbar-dropdown-item">
                        <a href="pages/profile.html"><i class="fas fa-user-tie"></i> Mon profil</a>
                    </li>
                    <li class="navbar-dropdown-item">
                        <a href="pages/account.html"><i class="fas fa-user-cog"></i> Mon compte</a>
                    </li>
                    <li class="navbar-dropdown-item">
                        <a href="{% url 'accounts:logout' %}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>