<div id="version-switcher">
    <input type="checkbox" id="switch" class="switch" name="theme" />
    <label class="switch-label" for="switch">Light/Dark toggle</label>
    <ul class="languages-switcher">
        <li class="current" title="Cliquez sur les liens pour changer de langue">
            <span>Langue : <strong>Fr</strong></span>
        </li>
        <li class="other">
            <a href="index.html?lang=fr" title="Français">Fr</a>
        </li>
        <li class="other">
            <a href="index.html?lang=en" title="Anglais">En</a>
        </li>
    </ul>
</div>