{% load i18n %}

<div id="version-switcher">
    <input type="checkbox" id="switch" class="switch" name="theme" />
    <label class="switch-label" for="switch">Light/Dark toggle</label>
    <ul class="languages-switcher">
        {% get_current_language as CURRENT_LANGUAGE %}
        <li class="current" title="{% trans 'Cliquez sur les liens pour changer de langue' %}">
            <span>{% trans 'Langue' %} : <strong>{{ CURRENT_LANGUAGE|title }}</strong></span>
        </li>
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as langs %}
        {% for lang in langs %}
            <li class="other">
                <a href="/{{ lang.code }}{{ request.get_full_path|slice:'3:' }}" title="{{ lang.name_translated }}">{{ lang.code|title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
