{% load i18n %}

<div id="version-switcher">
    <input type="checkbox" id="switch" class="switch" name="theme" />
    <label class="switch-label" for="switch">Theme toggle</label>
    <form id="langForm" action="{% url 'set_language' %}" method="POST" style="pointer-events: all;">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select title="{% trans 'Cliquez sur les liens pour changer de langue' %}" name="language" style="display: block; appearance: none; ">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local|title }}
                </option>
            {% endfor %}
        </select>
    </form>
</div>