<div class="container">
    {% if request.user.is_authenticated %}
        <form method="POST" class="form comment-form" action=".">
            {% csrf_token %}
            <fieldset>
                <legend>Rédiger un commentaire</legend>
                <div class="form-group">
                    {{ form.content.label_tag }}
                    {{ form.content }}
                </div>
            </fieldset>
            <div class="center-text">
                <button type="submit" class="btn btn__info btn__large btn__300">Commenter</button>
            </div>
        </form>
    {% else %}
        <p>Vous devez être connecter pour commenter</p>
    {% endif %}
    <div class="mt-2">
        <div class="center-text">
            {{ parent_comments.count }} Commentaire{{ parent_comments|pluralize }}
        <div>
        {% for parent_comment in parent_comments %}
            <div class="comment">
                <div class="commentary">
                    <img src="{{ parent_comment.author.profile.image.url }}" alt="Photo de profil" class="profile-image round-image" />
                    <span><a href="profile.html">{{ parent_comment.author.username }}</a>, {{ parent_comment.timestamp }}</span>
                    <span class="ml-auto"><a href="{{ parent_comment.get_report_url }}" title="Signaler le commentaire">Signaler</a></span>
                </div>
                <p>{{ parent_comment.content }}</p>
                <div>
                    <div>
                        {% for reply in parent_comment.children %}
                            <div class="comment">
                                <div class="commentary">
                                    <img src="{{ reply.author.profile.image.url }}" alt="Photo de profil" class="profile-image round-image" />
                                    <span><a href="profile.html">{{ reply.author.username }}</a>, {{ reply.timestamp }}</span>
                                    <span class="ml-auto"><a href="{{ reply.get_report_url }}" title="Signaler le commentaire">Signaler</a></span>
                                </div>
                                <p>{{ reply.content }}</p>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="center-text">
                        {% if request.user.is_authenticated %}
                            <button type="submit" class="reply-btn btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                        {% else %}
                            <button disabled type="submit" class="reply btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="reply">
                            <form method="POST" class="form reply-form" action=".">
                                {% csrf_token %}
                                <fieldset>
                                    <legend>Rédiger une réponse</legend>
                                    <div class="form-group">
                                        <input type="hidden" name="parent_id" value="{{ parent_comment.id }}">
                                        {{ form.content.label_tag }}
                                        {{ form.content }}
                                    </div>
                                </fieldset>
                                <div class="center-text">
                                    {% if request.user.is_authenticated %}
                                        <button type="submit" class="btn btn__info btn__large"><i class="fas fa-reply"></i> Envoyer</button>
                                    {% else %}
                                        <button disabled type="submit" class="btn btn__info btn__large"><i class="fas fa-reply"></i> Envoyer</button>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% empty %}
                <h4>Il n'y a pas encore de commentaire.</h4>
        {% endfor %}
    </div>
</div>
