{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Contact' %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans 'Contacter' %}</h1>
<p class="lead"><i class="fas fa-pen-alt"></i>&nbsp;{% trans "Contactez-nous dans l'espace approprié à chaque demande !" %}</p>
<form id="bug" action="contact.html" method='GET' class="form mb-3">
    <fieldset>
        <legend><i class="fas fa-bug"></i> Rapporter un bug</legend>
        <div class="form-group">
            <div class="note note__info">
                <p>Votre authentification n'est pas requise.</p>
            </div>
        </div>
        <div class="form-group">
            <label>Sujet : <span class="required-input">*</span><input type="text" maxlength="100"
                    placeholder="Type du bug" required /></label>
        </div>
        <div class="form-group">
            <label for="idea-area">Corps du message : <span class="required-input">*</span></label>
            <textarea name="idea-area" id="idea-area"
                placeholder="Description de ce que vous avez fait, quelle page, ..."></textarea>
        </div>
    </fieldset>
    <small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont
        obligatoires.</small>
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300"><i
                class="fas fa-paper-plane"></i> Envoyer</button>
    </div>
</form>
<hr class="my-2">
<form id="subject" action="contact.html" method='GET' class="form mb-3">
    <fieldset>
        <legend><i class="fas fa-pen-nib"></i> Demandes ou autre motif</legend>
        <div class="form-group">
            <div class="note note__warning">
                <p>Votre <strong>authentification</strong> est <strong>requise</strong> pour pouvoir vous
                    envoyer une réponse. <strong><a href="login.html">Connectez-vous</a></strong> ou
                    <strong><a href="regiter.html">inscrivez-vous</a></strong> tout de suite.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label>Sujet : <span class="required-input">*</span><input type="text" maxlength="100"
                    placeholder="Demande de remboursement, ajout d'un langage, ..." required /></label>
        </div>
        <div class="form-group">
            <label for="subject-area">Corps du message : <span class="required-input">*</span></label>
            <textarea name="subject-area" id="subject-area"
                placeholder="Le sujet de ma demande est ..."></textarea>
        </div>
    </fieldset>
    <small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont
        obligatoires.</small>
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300"><i
                class="fas fa-paper-plane"></i> Envoyer</button>
    </div>
</form>
{% endblock main %}
