{% extends 'base.html' %}
{% load static i18n %}

{% block extra_head %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock extra_head %}

{% block header_attr %}class="index"{% endblock header_attr %}
{% block header %}
<div class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">{% trans "Apprenez la programmation informatique" %}</h1>
      <p id="lead-type" class="lead"></p>
      <div style="display: none;">
        <span class="phrase1">{% trans 'Ne grandissons pas dans un monde sans le comprendre.' %}</span>
        <span class="phrase2">{% trans "Apprendre la programmation, c'est comprendre l'avenir et agir sur celui-ci !" %}</span>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endblock header %}

{% block main %}
{% for item in objects %}
  <div>
    <h2>{{ item.user.username }}</h2>
    <p>{{ item.strike }}</p>
  </div>
{% endfor %}
An inline tex : $f(a) = \frac{1}{2\pi i} \oint\frac{f(z)}{z-a}dz$
        a block tex : $$f(a) = \frac{1}{2\pi i} \oint\frac{f(z)}{z-a}dz$$
    
        <div class="my-5">
            <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>a</mi><mo>&#x2260;</mo><mn>0</mn>
</math>,
there are two solutions to 
<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>a</mi><msup><mi>x</mi><mn>2</mn></msup>
  <mo>+</mo> <mi>b</mi><mi>x</mi>
  <mo>+</mo> <mi>c</mi> <mo>=</mo> <mn>0</mn>
</math>
and they are
<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <mi>x</mi> <mo>=</mo>
  <mrow>
    <mfrac>
      <mrow>
        <mo>&#x2212;</mo>
        <mi>b</mi>
        <mo>&#x00B1;</mo>
        <msqrt>
          <msup><mi>b</mi><mn>2</mn></msup>
          <mo>&#x2212;</mo>
          <mn>4</mn><mi>a</mi><mi>c</mi>
        </msqrt>
      </mrow>
      <mrow> <mn>2</mn><mi>a</mi> </mrow>
    </mfrac>
  </mrow>
  <mtext>.</mtext>
</math>
</div>
{% endblock main %}

{% block javascript %}
<script src="{% static 'js/typed.min.js' %}"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}

{% block jquery %} let typed = new Typed('#lead-type', { strings: [$('.phrase1').text(), $('.phrase2').text()], typeSpeed: 35, backSpeed: 15, loop: true, }); $('span.typed-cursor').hide(); {% endblock jquery %}
