{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Signalement' %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans 'Signaler un commentaire' %}</h1>
<p class="lead"><i class="fas fa-exclamation-triangle"></i>&nbsp;{% trans 'Signaler un commentaire rapidement' %}</p>
<div>
    <p>{% trans "Le signalement d'une personne peut avoir de sérieuses conséquences, comme ce qui est écrit dans les" %}
        <a href="{% url 'main:terms' %}">{% trans "termes et conditions d'utilisation" %}</a> {% trans "donc ne faîtes pas de signalement abusif." %}</p>
    <div class="my-2">
        <div class="card card__info">
            <div class="card-container">
                <h3 class="card-title">{% blocktrans with username=object.author.username time=object.timestamp %}Commentaire de {{ username }} posté le {{ time }}</h3>
                <div class="card-content p-1">{{ object.content }}</div>
            </div>
        </div>
    </div>
    <form method="POST" class="form">
        {% csrf_token %}
        {% include "includes/form_snippet_fields.html" with form=form %}
        <div class="center-text">
            <button type="submit" class="btn btn__primary btn__large btn__300"><i
                    class="fas fa-paper-plane"></i>&nbsp;{% trans 'Envoyer le signalement' %}</button>
        </div>
    </form>
</div>
{% endblock main %}
