{% extends 'base.html' %}

{% load static %}

{% block title %}Recherche - {% endblock title %}

{% block main %}
<h1 class="large">Recherche pour "<span id="search-currently">yyjyj</span>"</h1>
<form action="search.html" method="get" class="form">
    <div class="form-group">
        <input type="text" id="search2" placeholder="Recherchez ici" name="q2" />
    </div>
</form>
<form class="form">
    <label>Filtrer la recherche</label>
    <div class="custom-select select__info" id="filter-search">
        <select name="filter-search">
            <option value="0">Cliquez pour sélectionner votre choix :</option>
            <option selected="selected" value="1">Tout</option>
            <option value="2">Seulement les cours</option>
            <option value="3">Seulement les tutoriels</option>
            <option value="4">Seulement les sujets</option>
            <option value="5">Seulement les profils</option>
        </select>
    </div>
</form>
<div id="search-result">
    <div class="courses">
        <span>Tutoriels :</span>
        <a href="tutorial_detail.html">
            <div class="course">
                <h3><i class="fas fa-lock"></i> Mettre un site en ligne avec AWS</h3>
            </div>
        </a>
        <a href="tutorial_detail.html">
            <div class="course">
                <h3>Créer votre CV en ligne (part 1)</h3>
            </div>
        </a>
        <a href="tutorial_detail.html">
            <div class="course">
                <h3>Les classes en Go</h3>
                <small>Full beginner course on Go</small>
            </div>
        </a>
    </div>
    <div class="articles">
        <span>Article du blog :</span>
        <a href="article_detail.html">
            <div class="article">
                <h3>Comment devenir Freelance ?</h3>
            </div>
        </a>
        <a href="article_detail.html">
            <div class="article">
                <h3>Comment avoir un bon SEO d'après Google ?</h3>
            </div>
        </a>
        <a href="article_detail.html">
            <div class="article">
                <h3>Les dernières actus (8 juin 2019)</h3>
            </div>
        </a>
    </div>
    <div class="subjects">
        <span>Sujets du forum :</span>
        <a href="forum_detail.html">
            <div class="subject">
                <h3>Comment utiliser momentjs ?</h3>
            </div>
        </a>
        <a href="forum_detail.html">
            <div class="subject">
                <h3>Afficher une bar de progression en pygame</h3>
            </div>
        </a>
    </div>
    <div class="profiles-search">
        <span>Profils d'étudiants en informatique ou développeur :</span>
        <div class="profile-grid">
            <a href="profile.html">
                <div class="profile">
                    <img src="../images/blog_course_forum/3.jpg" alt="" class="round-image">
                    <div>
                        <h3>johndoe</h3>
                        <small>Developer</small>
                    </div>
                </div>
            </a><a href="profile.html">
                <div class="profile">
                    <img src="../images/blog_course_forum/3.jpg" alt="" class="round-image">
                    <h3>johndoe</h3>
                </div>
            </a><a href="profile.html">
                <div class="profile">
                    <img src="../images/blog_course_forum/3.jpg" alt="" class="round-image">
                    <h3>johndoe</h3>
                </div>
            </a><a href="profile.html">
                <div class="profile">
                    <img src="../images/blog_course_forum/3.jpg" alt="" class="round-image">
                    <h3>johndoeeeeeeeee-eeeeeeeeeeeeeeeeeeeeeeee ffffffffffffffff</h3>
                </div>
            </a><a href="profile.html">
                <div class="profile">
                    <img src="../images/blog_course_forum/3.jpg" alt="" class="round-image">
                    <h3>johndoe</h3>
                </div>
            </a><a href="profile.html">
                <div class="profile">
                    <img src="../images/blog_course_forum/3.jpg" alt="" class="round-image">
                    <h3>johndoe</h3>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock main %}

{% block jquery %}
$('#search2').keyup(function () {
    $('#search-currently').text($(this).val());

    // FAIRE LES DEMANDES API ICI
    // Utiliser AJAX GET methode
});
{% endblock jquery %}