{% extends 'base.html' %}
{% load static i18n main_extras %}

{% block title %}{% if query is not None and query != '' %}{{ query }} | {% endif %}{% trans 'Recherche' %} - {% endblock title %}

{% block main %}
<h1 class="large">
    {% if query is not None %}
        {% blocktrans count counter=count with query=query %}{{ counter }} résultat pour "{{ query }}"{% plural %}{{ counter }} résultats pour "{{ query }}"{% endblocktrans %}
    {% else %}
        {% blocktrans count counter=count %}{{ counter }} résultat pour ""{% plural %}{{ counter }} résultats pour ""{% endblocktrans %}
    {% endif %}
</h1>
<form method="GET" class="form" id="main_search_form">
    <div class="form-group">
        {{ form.q2 }}
        <small class="form-text">{{ form.q2.help_text }}</small>
    </div>
    {% include 'includes/form_field.html' with field=form.q_type %}
</form>
<div id="search-result">
    <div class="courses">
        {% for object in object_list %}
            {% with object|class_name as klass %}
                <a href="{{ object.get_absolute_url }}">
                    <div class="course">
                        {% if klass == 'Course' or klass == 'Article' %}
                            <img src="{{ object.thumbnail.url }}" alt="{% trans "Vignette" %}">
                        {% elif klass == 'Tag' or klass == 'Language' %}
                            <img src="{{ object.image.url }}" alt="{% trans "Logo représentatif" %}" >
                        {% endif %}
                        <h3>{% if klass == 'Course' and not request.user.is_staff and not request.user in object.students.all and request.user != object.author %}
                                <i class="fas fa-lock"></i>&nbsp;
                            {% elif klass == 'Subject' %}
                                {% if object.is_closed %}<span class="success-color" title="{% trans "Résolu" %}"><i class="fas fa-check-circle"></i></span>{% else %}<span class="red-color" title="{% trans "Non résolu" %}"><i class="fas fa-times-circle"></i></span>{% endif %}&nbsp;&nbsp;
                        {% endif %}{% if klass == 'Tag' or klass == 'Language' %}{{ object.name }}{% else %}{{ object.title }}{% endif %}</h3>
                        {% if klass == 'Tutorial' %}
                            <small>{% if not request.user.is_staff and not request.user in object.course.students.all and request.user != object.course.author %}<i class="fas fa-lock"></i>&nbsp;{% endif %}{{ object.course.title }}</small>
                        {% endif %}
                    </div>
                </a>
            {% endwith %}
        {% empty %}
            <h3 class="center-text red-color">{% trans "Aucun résultat trouvé." %}</h3>
        {% endfor %}
    </div>
</div>
{% endblock main %}

{% block jquery %}$('#main_search_form select').change(function(e){$('#main_search_form').submit();});{% endblock jquery %}
