{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ tag.name }} - {% endblock title %}

{% block main %}
<h1 class="large">{{ tag.name }}</h1>
<div class="my-1">
    {% if tag.image %}
        <figure class="image float-right" style="width: 300px;">
            <img src="{{ tag.image.url }}" class="mb-1" alt="{% trans "Image d'illustration" %}">
            {% if tag.credit %}<figcaption>&copy; <a href="{{ tag.credit }}" title="{{ tag.credit }}">{% trans "Crédit" %}</a></figcaption>{% endif %}
        </figure>
    {% endif %}
    {{ tag.content|safe }}
</div>
{% endblock main %}
