{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{{ CODE_COLOURS }}" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<style>@media (max-width: 380px){.mx-1{margin: 0 10px;}}</style>
{% endblock extra_head %}

{% block main %}
<div class="mt-2">
    <div class="row small-device">
        <div class="col-75 small-device mb-2">
            <img src="{{ object.thumbnail.url }}" alt="" />
            {% with favorite_articles=request.user.profile.favorite_articles.all %}
                <h2 class="article-title">{{ object.title }}{% if request.user.is_authenticated %}&nbsp;<a href="{{ object.get_favorite_url }}" title="{% if object in favorite_articles %}{% trans 'Enlever des favoris' %}{% else %}{% trans 'Ajouter aux favoris' %}{% endif %}" class="favorite-span"><i class="{% if object in favorite_articles %}fas{% else %}far{% endif %} fa-star favorite"></i></a>{% endif %}</h2>
            {% endwith %}
            <div class="my-1">
                <div class="tags">
                    {% include "main/includes/tags.html" with object=object %}
                </div>
                {% if request.user.is_staff or request.user == object.author %}
                    <div class="mt-1 d-flex flex-end">
                        <a href="{% url 'articles:update' article_slug=object.slug %}" class="btn">{% trans 'Mettre à jour' %}</a>
                        <a href="{% url 'articles:delete' article_slug=object.slug %}" class="ml-1 btn">{% trans 'Supprimer' %}</a>
                    </div>
                {% endif %}
                <div class="my-1 d-flex align">
                    <img src="{{ object.author.profile.image.url }}" alt="{% trans 'Photo de profil' %}" class="profile-image round-image" />
                    <a class="d-block" style="margin-left: 10px;" href="{% url 'accounts:profile' user_id=object.author.id %}">{{ object.author.username }}</a>
                    <span class="d-inline-block mx-1">|</span>
                    <div class="d-inline-block">
                        <i class="far fa-clock"></i>&nbsp;{{ object.timestamp }}&nbsp;{% if object.last_modification != object.timestamp %}{% trans 'modifié le' %}&nbsp;{{ object.last_modification }}{% endif %}
                    </div>
                    <span class="d-inline-block mx-1">|</span>
                    <div class="d-inline-block">
                        <i class="far fa-eye"></i>&nbsp;{{ object.views }}
                    </div>
                    <span class="d-inline-block mx-1">|</span>
                    <div class="d-inline-block">
                        <i class="far fa-comments"></i>&nbsp;<span class="comments-count">{{ object.get_comments_count }}</span>
                    </div>
                </div>
                <div class="fb-share-button" data-href="{{ request.get_absolute_uri }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                &nbsp;<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>{{ object.content|safe }}</div>
        </div>
        <div class="col-25 small-device">
            {% include 'articles/article_aside.html' %}
        </div>
    </div>
</div>
{% endblock main %}

{% block comments %}
    {% include 'main/includes/comments.html' %}
{% endblock comments %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}

{% block jquery %}
{% include 'main/includes/ajax_comments.html' %}
function favori(star) {if (star.hasClass('fas')) {star.parent().attr('title', '{% trans "Enlever des favoris" %}');$('body').append("<div class='toast'>{% trans "Article ajouté aux favoris" %}</div>");} else {star.parent().attr('title', '{% trans "Ajouter aux favoris" %}');$('body').append("<div class='toast'>{% trans "Article retiré des favoris" %}</div>");}$('.toast').css({ 'visibility': 'visible' }).delay(3000).fadeOut('fast');};
{% include 'main/includes/ajax_favorite.html' %}
{% endblock jquery %}
