{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Blog - {% endblock title %}

{% block main %}
<h1 class="large">Articles du blog</h1>
<div class="row small-device">
    <div class="col-75 small-device mb-2 mt-1">
        {% for article in object_list %}
            <div class="mb-2">
                <a href="{% url 'articles:detail' article_slug=article.slug %}"><img src="{{ article.thumbnail.url }}" alt="" /></a>
                <h3 class="article-title"><a href="{% url 'articles:detail' article_slug=article.slug %}">{{ article.title }}</a>&nbsp;<a href="{{ article.get_favorite_url }}" title="{% if article_in_favorite %}Enlever des favoris{% else %}Ajouter aux favoris{% endif %}" class="favorite-span"><i class="{% if article in request.user.profile.favorite_articles.all %}fas{% else %}far{% endif %} fa-star favorite"></i></a></h3>
                <div class="my-1">
                    <div class="tags small-fs">
                        {% include 'main/includes/tags.html' with object=article %}
                    </div>
                    <div class="my-1 d-flex align">
                        <img src="{{ article.author.profile.image.url }}" alt="Photo de profil" class="profile-image round-image" />
                        <a class="d-block" style="margin-left: 10px;" href="profile.html">{{ article.author.username }}</a>
                        <span class="d-inline-block mx-1">|</span>
                        <div class="d-inline-block">
                            <i class="far fa-clock"></i>&nbsp;{{ article.timestamp }}
                        </div>
                        <span class="d-inline-block mx-1">|</span>
                        <div class="d-inline-block">
                            <i class="far fa-eye"></i>&nbsp;{{ article.views }}
                        </div>
                        <span class="d-inline-block mx-1">|</span>
                        <div class="d-inline-block">
                            <i class="far fa-comments"></i>&nbsp;{{ article.get_comments_count }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="center-text mb-2">
            {% if is_paginated %}
                {% include "includes/pagination.html" %}
            {% endif %}
        </div>
    </div>
    <div class="col-25 small-device">
        {% include 'articles/article_aside.html' %}
    </div>
</div>
{% endblock main %}

{% block jquery %}
{% include 'main/includes/ajax_favorite.html' %}
{% endblock jquery %}
