{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Suppression' %} {{ object.title }} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans "Suppression de l'article" %} : {{ object.title }}</h1>
<form method="POST" class="form">
    {% csrf_token %}
    <div class="note note__danger">
        <p>{% blocktrans %}La suppression de l'article est <strong>irréversible</strong>. Les commentaires seront <strong>également supprimés</strong> ainsi que les <strong>ressources associées</strong>.{% endblocktrans %}</p>
    </div>
    <div class="center-text">
        <a href="{% url 'articles:detail' article_slug=object.slug %}" class="btn btn__primary btn__large btn__300">{% trans 'Retour en arrière' %}</a>
        <button type="submit" class="btn btn__danger btn__large btn__300">{% trans 'Supprimer définitivement' %}</button>
    </div>
</form>
{% endblock main %}
