{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/css/vs2015.css' %}" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock extra_head %}

{% block main %}
<div class="mt-2">
    <div class="row small-device">
        <div class="col-75 small-device mb-2">
            <img src="{{ object.thumbnail.url }}" alt="" />
            <h2 class="article-title">{{ object.title }}{% if request.user.is_authenticated %}&nbsp;<a href="{{ object.get_favorite_url }}" title="{% if article_in_favorite %}{% trans 'Enlever des favoris' %}{% else %}{% trans 'Ajouter aux favoris' %}{% endif %}" class="favorite-span"><i class="{% if article_in_favorite %}fas{% else %}far{% endif %} fa-star favorite"></i></a>{% endif %}</h2>
            <div class="my-1">
                <div class="tags">
                    {% include 'main/includes/tags.html' with object=object %}
                </div>
                <div class="mt-1 d-flex flex-end">
                    <a href="{% url 'articles:update' article_slug=object.slug %}" class="btn">{% trans 'Mettre à jour' %}</a>
                    <a href="{% url 'articles:delete' article_slug=object.slug %}" class="ml-1 btn">{% trans 'Supprimer' %}</a>
                </div>
                <div class="my-1 d-flex align">
                    <img src="{{ object.author.profile.image.url }}" alt="{% trans 'Photo de profil' %}" class="profile-image round-image" />
                    <a class="d-block" style="margin-left: 10px;" href="profile.html">{{ object.author.username }}</a>
                    <span class="d-inline-block mx-1">|</span>
                    <div class="d-inline-block">
                        <i class="far fa-clock"></i>&nbsp;{{ object.timestamp }}&nbsp;{% if object.last_modification != object.timestamp %}{% trans 'modifié le' %}&nbsp;{{ object.last_modification }}{% endif %}
                    </div>
                    <span class="d-inline-block mx-1">|</span>
                    <div class="d-inline-block">
                        <i class="far fa-eye"></i>&nbsp;{{ object.views }}
                    </div>
                    <span class="d-inline-block mx-1">|</span>
                    <div class="d-inline-block">
                        <i class="far fa-comments"></i>&nbsp;<span class="comments-count">{{ object.get_comments_count }}</span>
                    </div>
                </div>
            </div>
            <div>{{ object.content|safe }}</div>
        </div>
        <div class="col-25 small-device">
            {% include 'articles/article_aside.html' %}
        </div>
    </div>
</div>
{% endblock main %}

{% block comments %}
    {% include 'main/includes/comments.html' %}
{% endblock comments %}

{% block javascript %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}

{% block jquery %}
{% include 'main/includes/ajax_comments.html' %}
function favori(star) {if (star.hasClass('fas')) {star.parent().attr('title', "Remove favorites");$('body').append("<div class='toast'>Article added to favorites</div>");} else {star.parent().attr('title', "Add to favorites");$('body').append("<div class='toast'>Article removed from favorites</div>");}$('.toast').css({ 'visibility': 'visible' }).delay(3000).fadeOut('fast');};
{% include 'main/includes/ajax_favorite.html' %}
{% endblock jquery %}
