{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% if type == 'add' %}{% trans 'Ajouter un article' %}{% else %}{% trans 'Modifier un article' %}{% endif %} - {% endblock title %}

{% block main %}
<h1 class="large">{% if type == 'add' %}{% trans 'Ajouter un article' %}{% else %}{% trans 'Modifier un article' %}{% endif %}</h1>
<form method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <fieldset>
        <legend>{% trans 'Information générales' %}</legend>
        <div class="form-group">
            {{ form.title.label_tag }}&nbsp;<span class="required-input">*</span>
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.thumbnail.label_tag }}&nbsp;<span class="required-input">*</span>
            {{ form.thumbnail }}
        </div>
        <div class="form-group">
            {{ form.content.label_tag }}&nbsp;<span class="required-input">*</span>
            {{ form.content }}
        </div>
        <div class="form-group">
            {{ form.languages.label_tag }}
            <div class="custom-multiple-select select-multiple__light">
                {{ form.languages }}
            </div>
        </div>
        <div class="form-group">
            {{ form.tags.label_tag }}
            <div class="custom-multiple-select select-multiple__light">
                {{ form.tags }}
            </div>
            <small class="form-text">
                {{ form.tags.help_text|safe }}
            </small>
        </div>
    </fieldset>
    {% if form.timestamp %}
        <fieldset>
            <legend>{% trans 'Informations complémentaires' %}</legend>
            <div class="form-group">
                <label>{% trans 'Parution de l\'article' %} :<br>{{ form.timestamp }}</label>
            </div>
        </fieldset>
    {% endif %}
    {% blocktrans %}<small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont obligatoires.</small>{% endblocktrans %}
    <div class="center-text">
        <button type="submit" class="btn btn__success btn__large btn__300">{% if type == 'add' %}{% trans 'Ajouter un article' %}{% else %}{% trans 'Modifier un article' %}{% endif %}</button>
    </div>
</form>
{% endblock main %}
