{% load i18n %}

{% autoescape off %}
{% url 'accounts:account' as account_url %}
{% blocktrans with article=article %}Salut, cher utilisateur de ProgLangLearn,

Un tout nouvel article vient d'être publié intitulé : "{{ article.title }}"


Tu peux désormais venir le lire si t'es intéressé :{% endblocktrans %}
{{ protocol }}://{{ domain }}{% url 'articles:detail' article_slug=article.slug %}

{% trans "De la part de toute l'équipe de ProgLangLearn," %}
LETELLIER Guillaume

{% blocktrans %}Vous pouvez vous désabonner et ne plus recevoir les notifications allant à cette adresse {{ account_url }} dans la rubrique "Modifier mes informations personnelles".{% endblocktrans %}
{% endautoescape %}