function ajaxAddCoupon(){
    $('#couponForm').submit(function(e){
        e.preventDefault();
        $.ajax({
            method: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response){
                $('#ajax-coupon').html(response.html);
                ajaxAddCoupon();
                ajaxRemoveCoupon();
            },
            error: function(rs, e){
                console.log(rs.responseText);
            },
        });
    });
}
ajaxAddCoupon();

function ajaxRemoveCoupon(){
    $('#remove-coupon').click(function(e){
        e.preventDefault();
        $.ajax({
            method: "GET",
            url: $(this).attr('href'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response){
                $('#ajax-coupon').html(response.html);
                ajaxRemoveCoupon();
            },
            error: function(rs, e){
                console.log(rs.responseText);
            },
        });
    });
}
ajaxRemoveCoupon();

function ajaxRemoveCourse(){
    $('.remove-course').click(function(e){
        e.preventDefault();
        $.ajax({
            method: "GET",
            url: $(this).attr('href'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response){
                $('#cart-div').html(response.html);
                $('#cart_item_count').html("&nbsp;" + response.cart_item_count + "&nbsp;")
                ajaxRemoveCourse();
            },
            error: function(rs, e){
                console.log(rs.responseText);
            },
        });
    });
}
ajaxRemoveCourse();
