{% load i18n %}

<div id="paymentItems">
    {% for course in order.courses.all %}
        <div>
            <div>
                <a href="{% url 'courses:detail' slug=course.slug %}">{{ course.title }}</a>
            </div>
            <div>
                {% if course.new_price and type == 'cart' %}
                    <del>{{ course.old_price }}€</del>&nbsp;&nbsp;<span class="red-color">{{ course.new_price }}€</span>
                {% elif type != 'cart' %}
                    <span class="red-color">{% if course.new_price %}{{ course.new_price }}{% else %}{{ course.old_price }}{% endif %}€</span>
                {% else %}
                    <span class="red-color">{{ course.old_price }}€</span>
                {% endif %}
                {% if type == 'cart' %}
                    &nbsp;<a href="{{ course.get_remove_course_from_cart_url }}" title="{% trans 'Supprimer la formation' %}" class="remove-course red-color"><i class="fas fa-trash"></i></a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if order.coupon %}
        <div>
            <div class="success-color">{{ order.coupon.code }}</div>
            <div>
                <span class="success-color">-{{ order.coupon.discount_price }}€</span>&nbsp;
                <a id="remove-coupon" href="{{ order.coupon.get_remove_coupon_from_cart_url }}" title="{% trans 'Supprimer le coupon' %}" class="red-color"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    {% else %}
        <div>
            <form id="couponForm" action="{% url 'main:billing:add-coupon' %}" method="POST" class="form">
                {% csrf_token %}
                {% include 'includes/form_errors.html' with form=form %}
                <div class="d-block form-group">
                    {% if error_msg %}
                        <div class="d-block red-color">{{ error_msg }}</div>
                    {% endif %}
                    {{ coupon_form.code }}
                </div>
                <div class="center-text" style="justify-content: center;">
                    <button type="submit" class="btn btn__primary" style="margin: 0 auto;">{% trans 'Activer le code' %}</button>
                </div>
            </form>
        </div>
    {% endif %}
    {% if remove_coupon_error %}
        <div>{{ remove_coupon_error }}</div>
    {% endif %}
    <div>
        {# Translators: Amount of money #}
        <div>{% trans 'Total' %} :</div>
        <div>
            {% if order.get_old_total != order.get_new_total %}
                <del>{{ order.get_old_total }}€</del>&nbsp;&nbsp;{{ order.get_new_total }}€
            {% else %}
                {{ order.get_old_total }}€
            {% endif %}
        </div>
    </div>
</div>