{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Demande de reboursement' %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans 'Demande de reboursement' %}</h1>
<div>
    <form class="form" method="POST">
        {% csrf_token %}
        {% include 'includes/form_errors.html' with form=form %}
        {% include 'includes/form_snippet_fields.html' with form=form %}
        <div class="center-text">
            <button type="submit" class="btn btn__outline_info btn__300">{% trans 'Demander' %}</button>
        </div>
    </form>
</div>
{% endblock main %}
