{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Votre demande de reboursement' %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans 'Votre demande de reboursement' %}</h1>
<div>
    <p>{% trans "Vous avez formulé une demande de remboursement. État de votre demande :" %} {% if object.accepted %}<span class="success-color">{% trans "Acceptée" %}</span>{% elif object.rejected %}<span class="red-color">{% trans "Rejetée" %}</span>{% else %}{% trans "En cours de traitement" %}{% endif %}.
    <br>{% trans "Le" %} <a href="{{ object.order.render_pdf }}">{% trans "détail" %}</a> {% trans "de votre paiement est toujours disponible." %}
    <br>{% trans "Pour rappel, le détail de votre demande ci-dessous :" %}
    </p>
    <div class="my-2">
        <div class="card card__warning">
            <div class="card-container">
                <div class="card-content p-1">{{ object.reason }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
