{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Mon compte" %} - {% endblock title %}

{% block extra_head %}<style>.country-select-flag{width: 16px;}</style>{% endblock extra_head %}

{% block main %}
<h1 class="large">{% trans "Réglages de votre compte" %}</h1>
<p class="lead"><i class="fas fa-user-cog"></i>&nbsp;{% trans "Modifier les paramètres et informations de votre compte !" %}
</p>
<p><a href="profile.html" class="btn btn__success btn__300 btn__block btn__large">{% trans "Voir mon profil" %}</a></p>
<div class="row small-device">
    <div class="col-25 hide-small-device">
        <div class="sticky-box">
            <div><a href="#personal-info">{% trans "Modifier mes informations personnelles" %}</a></div>
            <div><a href="#change-password">{% trans "Changer mon mot de passe" %}</a></div>
            <div><a href="#profile">{% trans "Modifier les informations visibles sur mon profil" %}</a></div>
            <div><a href="#danger-zone">{% trans "Zone de danger" %}</a></div>
        </div>
    </div>
    <div class="col-75">
        <section id="personal-info">
            <h2>{% trans "Modifier mes informations personnelles" %}</h2>
            <form method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ personal_form.non_field_errors }}
                <fieldset>
                    <legend><i class="fas fa-user"></i> {% trans "Informations générales" %}</legend>
                    {% include 'includes/form_field2.html' with field=image_form.image %}
                    {% include 'includes/form_field2.html' with field=personal_form.username %}
                    {% include 'includes/form_field2.html' with field=personal_form.email %}
                    <div class="row small-device">
                        <div class="col-50 small-device">
                            {% include 'includes/form_field2.html' with field=personal_form.first_name %}
                        </div>
                        <div class="col-50 small-device">
                            {% include 'includes/form_field2.html' with field=personal_form.last_name %}
                        </div>
                    </div>
                    {% include 'includes/form_field2.html' with field=personal_form.prog_type default_select=True %}
                    {% include 'includes/form_field2.html' with field=image_form.country default_select=True %}
                </fieldset>
                <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span> {% trans "sont obligatoires." %}</small>
                <div class="center-text">
                    <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "Changer" %}</button>
                </div>
            </form>
        </section>
        <hr class="dashed mx-1 my-2">
        <section id="change-password">
            <h2>{% trans "Changer mon mot de passe" %}</h2>
            <form action="account.html" class="form">
                <fieldset>
                    <legend><i class="fas fa-user-lock"></i> {% trans "Mot de passe" %}</legend>
                    <div class="form-group">
                        <div class="password">
                            <label>Mot de passe : <span class="required-input">*</span><br><input
                                    type="password" id="showPWDInput"
                                    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                                    minlength="10" maxlength="32" name="user-password" required /></label>
                            <input type="checkbox" id="showPWD">
                            <label class="eye" for="showPWD"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="password">
                            <label>Mot de passe : <span class="required-input">*</span><br><input
                                    type="password" id="showNewPWDInput"
                                    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                                    minlength="10" maxlength="32" name="user-newpassword"
                                    required /></label>
                            <input type="checkbox" id="showNewPWD">
                            <label class="eye" for="showNewPWD"></label>
                        </div>
                        <small class="form-text">
                            Doit comporter entre 10 et 32 caractères (alphanumériques et symboles)
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="password">
                            <label>Mot de passe : <span class="required-input">*</span><br><input
                                    type="password" id="showNewPWDConfirmInput"
                                    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                                    minlength="10" maxlength="32" name="user-password" required /></label>
                            <input type="checkbox" id="showNewPWDConfirm">
                            <label class="eye" for="showNewPWDConfirm"></label>
                        </div>
                        <small class="form-text">
                            Doit être le même que le nouveau mot de passe renseigné
                        </small>
                    </div>
                </fieldset>
                <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span>
                    {% trans "sont obligatoires." %}</small>
                <div class="center-text">
                    <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "Changer" %}</button>
                </div>
            </form>
        </section>
        <hr class="dashed mx-1 my-2">
        <section id="profile">
            <h2>{% trans "Modifier les informations visibles sur mon profil" %}</h2>
            <form action="account.html" class="form">
                <fieldset>
                    <legend><i class="fas fa-user-tie"></i> {% trans "Informations importantes" %}</legend>
                    <div class="form-group">
                        <label for="biography">Biographie :</label><br>
                        <textarea name="user-biography" id="biography"
                            placeholder="Une courte biographie ..."></textarea>
                        <small class="form-text">
                            Courte biographie ou phrase aimée pour vous décrire rapidement
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="skills">Choisissez des compétences (langage ou
                            bibliothèque) :</label>
                        <div class="custom-multiple-select select-multiple__light">
                            <select id="skills" name="skills" multiple size="7">
                                <option value="1">HTML / CSS</option>
                                <option value="2">JavaScript</option>
                                <option value="3">Python</option>
                                <option value="4">C</option>
                                <option value="5">C++</option>
                                <option value="6">Java</option>
                                <option value="7">Swift</option>
                                <option value="8">Sass / Scss</option>
                                <option value="9">TypeScript</option>
                                <option value="10">JQuery</option>
                                <option value="11">React JS</option>
                                <option value="12">Electron JS</option>
                            </select>
                        </div>
                        <small class="form-text">
                            N.B. : multiple sélection possible <br>
                            S'il manque une bibliothèque ou un langage, demandez à le <a
                                href="contact.html#subject">rajouter</a>. Un mail vous sera envoyer pour
                            vous mettre au courant du rajout ou du rejet de votre demande
                        </small>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><i class="fas fa-external-link-alt"></i> Liens externes</legend>
                    <div class="form-group social-input">
                        <i class="fas fa-globe fa-2x"></i>
                        <input type="url" placeholder="Website URL" name="user-website" />
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-twitter fa-2x"></i>
                        <input type="url" placeholder="Twitter URL" name="user-website" />
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        <input type="url" placeholder="Facebook URL" name="user-website" />
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-youtube fa-2x"></i>
                        <input type="url" placeholder="Youtube URL" name="user-website" />
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-linkedin fa-2x"></i>
                        <input type="url" placeholder="LinkedIn URL" name="user-website" />
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-instagram fa-2x"></i>
                        <input type="url" placeholder="Instagram URL" name="user-website" />
                    </div>
                </fieldset>
                <fieldset>
                    <legend><i class="fab fa-github"></i> {% trans "Vos dépôts Github" %}</legend>
                    <div class="form-group">
                        <label>E-Mail ou nom d'utilisateur de votre compte Github :<br>
                            <input type="text" name="user-github" /></label>
                        <small class="form-text">
                            <i class="fas fa-exclamation-triangle"></i> En renseignant ce champ, vous
                            accepter de publier
                            les liens vers vos dépôts
                            ajoutés sur votre compte Github
                        </small>
                    </div>
                </fieldset>
                <!-- Si développeur ou étudiant -->
                <p class="mt-0 mb-1">{% trans "Pour ajouter ou supprimer d'autres informations sur votre profil, vous devez vous rendre sur" %} <a href="edit_profile.html">{% trans "cette page" %}</a>.</p>
                <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span>
                    {% trans "sont obligatoires." %}</small>
                <div class="center-text">
                    <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "Mettre à jour mon profil" %}</button>
                </div>
            </form>
        </section>
        <hr class="dashed mx-1 my-2">
        <section id="danger-zone">
            <h2>{% trans "Zone de danger" %}</h2>
            <form action="delete_account.html" class="form">
                <fieldset>
                    <legend><i class="fas fa-user-times"></i> {% trans "Supprimer mon compte" %}</legend>
                    <div class="form-group">
                        <div class="password">
                            <label>Mot de passe : <span class="required-input">*</span><br><input
                                    type="password" id="showPWDDeleteConfirmInput"
                                    placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                                    minlength="10" maxlength="32" name="user-password-danger"
                                    required /></label>
                            <input type="checkbox" id="showPWDDeleteConfirm">
                            <label class="eye" for="showPWDDeleteConfirm"></label>
                        </div>
                    </div>
                </fieldset>
                <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span>
                    {% trans "sont obligatoires." %}</small>
                <div class="center-text">
                    <button type="submit" class="btn btn__danger btn__large btn__300">{% trans "Supprimer" %}</button>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock main %}
