{% extends 'base.html' %}
{% load i18n socialaccount %}

{% block title %}{% trans "Mon compte" %} - {% endblock title %}

{% block extra_head %}<style>.country-select-flag{width: 16px;}</style>{% endblock extra_head %}

{% block main %}
{% get_social_accounts user as accounts %}
<h1 class="large">{% trans "Réglages de votre compte" %}</h1>
<p class="lead"><i class="fas fa-user-cog"></i>&nbsp;{% trans "Modifier les paramètres et informations de votre compte !" %}
</p>
<p>
    <a href="{% url 'accounts:profile' user_id=request.user.id %}" class="btn btn__success btn__300 btn__block btn__large">{% trans "Voir mon profil" %}</a>
</p>
<div class="row small-device">
    <div class="col-25 hide-small-device">
        <div class="sticky-box">
            <div><a href="#personal-info">{% trans "Modifier mes informations personnelles" %}</a></div>
            {% if password_change_form %}
                <div><a href="#change-password">{% trans "Changer mon mot de passe" %}</a></div>
            {% endif %}
            <div><a href="#profile">{% trans "Modifier les informations visibles sur mon profil" %}</a></div>
            {% if danger_zone_form %}
                <div><a href="#danger-zone">{% trans "Zone de danger" %}</a></div>
            {% endif %}
        </div>
    </div>
    <div class="col-75">
        <section id="personal-info">
            <h2>{% trans "Modifier mes informations personnelles" %}</h2>
            <form method="POST" action="{% url 'accounts:handle-personal-info' %}" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'includes/form_errors.html' with form=image_form %}
                {% include 'includes/form_errors.html' with form=personal_form %}
                <fieldset>
                    <legend><i class="fas fa-user"></i> {% trans "Informations générales" %}</legend>
                    {% if not accounts %}{% include 'includes/form_field.html' with field=image_form.image %}{% endif %}
                    {% include 'includes/form_field.html' with field=personal_form.username %}
                    {% if not accounts %}{% include 'includes/form_field.html' with field=personal_form.email %}{% endif %}
                    {% include 'includes/form_field.html' with field=personal_form.email_notification %}
                    {% if not accounts %}
                        <div class="row small-device">
                            <div class="col-50 small-device">
                                {% include 'includes/form_field.html' with field=personal_form.first_name %}
                            </div>
                            <div class="col-50 small-device">
                                {% include 'includes/form_field.html' with field=personal_form.last_name %}
                            </div>
                        </div>
                    {% endif %}
                    {% include 'includes/form_field.html' with field=personal_form.prog_type default_select=True not_show_error=True %}
                    {% include 'includes/form_field.html' with field=personal_form.country default_select=True %}
                </fieldset>
                <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span> {% trans "sont obligatoires." %}</small>
                <div class="center-text">
                    <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "Changer" %}</button>
                </div>
            </form>
        </section>
        {% if password_change_form %}
            <hr class="dashed mx-1 my-2">
            <section id="change-password">
                <h2>{% trans "Changer mon mot de passe" %}</h2>
                <form method="POST" action="{% url 'accounts:handle-change-password' %}" class="form">
                    {% csrf_token %}
                    {% include 'includes/form_errors.html' with form=password_change_form %}
                    <fieldset>
                        <legend><i class="fas fa-user-lock"></i> {% trans "Mot de passe" %}</legend>
                        {% include 'includes/form_field.html' with field=password_change_form.oldpassword %}
                        {% include 'includes/form_field.html' with field=password_change_form.password1 %}
                        {% include 'includes/form_field.html' with field=password_change_form.password2 %}
                    </fieldset>
                    <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span>
                        {% trans "sont obligatoires." %}</small>
                    <div class="center-text">
                        <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "Changer" %}</button>
                    </div>
                </form>
            </section>
        {% endif %}
        <hr class="dashed mx-1 my-2">
        <section id="profile">
            <h2>{% trans "Modifier les informations visibles sur mon profil" %}</h2>
            <form method="POST" action="{% url 'accounts:handle-profile-info' %}" class="form">
                {% csrf_token %}
                {% include 'includes/form_errors.html' with form=profile_form %}
                <fieldset>
                    <legend><i class="fas fa-user-tie"></i> {% trans "Informations importantes" %}</legend>
                    {% include 'includes/form_field.html' with field=profile_form.biography %}
                    {% include 'includes/form_field.html' with field=profile_form.skills %}
                </fieldset>
                <fieldset>
                    <legend><i class="fas fa-external-link-alt"></i> {% trans "Liens externes" %}</legend>
                    <div class="form-group social-input">
                        <i class="fas fa-globe fa-2x"></i>
                        {{ profile_form.website_url }}
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-youtube fa-2x"></i>
                        {{ profile_form.youtube_url }}
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-linkedin fa-2x"></i>
                        {{ profile_form.linked_in_url }}
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-facebook-square fa-2x"></i>
                        {{ profile_form.facebook_url }}
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-twitter fa-2x"></i>
                        {{ profile_form.twitter_url }}
                    </div>
                    <div class="form-group social-input">
                        <i class="fab fa-instagram fa-2x"></i>
                        {{ profile_form.instagram_url }}
                    </div>
                </fieldset>
                <fieldset>
                    <legend><i class="fab fa-github"></i> {% trans "Vos dépôts Github" %}</legend>
                    {% include 'includes/form_field.html' with field=profile_form.github %}
                </fieldset>
                {% if request.user.profile.is_dev or request.user.profile.is_student %}
                    <p class="mt-0 mb-1">{% trans "Pour ajouter ou supprimer d'autres informations sur votre profil, vous devez vous rendre sur" %} <a href="{% url 'accounts:profile-edit' user_id=request.user.id %}">{% trans "cette page" %}</a>.</p>
                {% endif %}
                <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span>
                    {% trans "sont obligatoires." %}</small>
                <div class="center-text">
                    <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "Mettre à jour mon profil" %}</button>
                </div>
            </form>
        </section>
        {% if danger_zone_form %}
            <hr class="dashed mx-1 my-2">
            <section id="danger-zone">
                <h2>{% trans "Zone de danger" %}</h2>
                <form method="POST" action="{% url 'accounts:handle-danger-zone' %}" class="form">
                    {% csrf_token %}
                    {% include 'includes/form_errors.html' with form=danger_zone_form %}
                    <fieldset>
                        <legend><i class="fas fa-user-times"></i> {% trans "Supprimer mon compte" %}</legend>
                        {% include 'includes/form_field.html' with field=danger_zone_form.password %}
                    </fieldset>
                    <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span>
                        {% trans "sont obligatoires." %}</small>
                    <div class="center-text">
                        <button type="submit" class="btn btn__danger btn__large btn__300">{% trans "Supprimer" %}</button>
                    </div>
                </form>
            </section>
        {% endif %}
    </div>
</div>
{% endblock main %}
