{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Édition du profil" %} - {% endblock title %}

{% block main %}
<div class="d-flex space-between">
    <a href="{% url 'accounts:profile-list' %}" class="btn btn__dark mb-1">{% trans "Voir tous les profils" %}</a>
    <a href="{% url 'accounts:profile' user_id=object.user.id %}" class="btn btn__warning mb-1">{% trans "Voir mon profil" %}</a>
</div>
<h1 class="large">{% trans "Éditer mon profil" %}</h1>
<p class="lead"><i class="fas fa-user-edit"></i>&nbsp;{% trans "Modifiez les informations professionnelles sur votre profil pour vous permettre d'être plus visible auprès de recruteurs" %}</p>
<section class="mt-3 mb-1">
    <h2>{% trans "Gérer mon espace expérience" %}</h2>
    <div class="table table__dark">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Entreprise" %}</th>
                    <th>{% trans "Poste" %}</th>
                    <th>{% trans "Années" %}</th>
                    <th></th>
                </tr>
                {% for experience in object.experiences.all %}
                    <tr>
                        <td>{{ experience.entreprise }}</td>
                        <td>{{ experience.employment }}</td>
                        <td>{{ experience.entry_date|date:"F Y"|title }} - {% if experience.exit_date %}{{ experience.exit_date|date:"F Y"|title }}{% else %}{% trans "Maintenant" %}{% endif %}</td>
                        <td class="table-btn"><a href="{% url 'accounts:experience-delete' user_id=object.user.id experience_id=experience.id %}" class="btn btn__danger">{% trans "Supprimer" %}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=4>{% trans "Vous n'avez aucune expérience enregistrée" %}</td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
    <form class="form my-1" method="POST">
        {% csrf_token %}
        {{ experience_form.non_field_errors }}
        <fieldset>
            <legend><i class="fas fa-user-tie"></i>&nbsp;{% trans "Ajouter une expérience" %}</legend>
            {% include 'includes/form_field2.html' with field=experience_form.entreprise %}
            {% include 'includes/form_field2.html' with field=experience_form.employment %}
            <div class="row small-device">
                <div class="col-50 small-device">
                    {% include 'includes/form_field2.html' with field=experience_form.entry_date %}
                </div>
                <div class="col-50 small-device">
                    {% include 'includes/form_field2.html' with field=experience_form.exit_date %}
                </div>
            </div>
        </fieldset>
        <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span> {% trans "sont obligatoires" %}.</small>
        <div class="center-text">
            <button type="submit" name="experience" class="btn btn__primary btn__large btn__300">{% trans "Ajouter" %}</button>
        </div>
    </form>
</section>
<section class="mt-3 mb-1">
    <h2>{% trans "Gérer mon espace éducation" %}</h2>
    <div class="table table__dark">
        <table>
            <thead>
                <tr>
                    <th>{% trans "École" %}</th>
                    <th>{% trans "Diplôme" %}</th>
                    <th>{% trans "Années" %}</th>
                    <th></th>
                </tr>
                {% for education in object.educations.all %}
                    <tr>
                        <td>{{ education.school }}</td>
                        <td>{{ education.degree }}</td>
                        <td>{{ education.entry_date|date:"F Y"|title }} - {% if education.exit_date %}{{ education.exit_date|date:"F Y"|title }}{% else %}{% trans "Maintenant" %}{% endif %}</td>
                        <td class="table-btn"><a href="{% url 'accounts:education-delete' user_id=object.user.id education_id=education.id %}" class="btn btn__danger">{% trans "Supprimer" %}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan=4>{% trans "Vous n'avez aucune école enregistrée" %}</td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
    <form class="form my-1" method="POST">
        {% csrf_token %}
        {{ education_form.non_field_errors }}
        <fieldset>
            <legend><i class="fas fa-user-graduate"></i>&nbsp;{% trans "Ajouter une école" %}</legend>
            {% include 'includes/form_field2.html' with field=education_form.school %}
            {% include 'includes/form_field2.html' with field=education_form.degree %}
            <div class="row small-device">
                <div class="col-50 small-device">
                    {% include 'includes/form_field2.html' with field=education_form.entry_date %}
                </div>
                <div class="col-50 small-device">
                    {% include 'includes/form_field2.html' with field=education_form.exit_date %}
                </div>
            </div>
        </fieldset>
        <small class="d-block mb-1">{% trans "Tous les champs avec un" %} <span class="required-input">*</span> {% trans "sont obligatoires" %}.</small>
        <div class="center-text">
            <button type="submit" name="education" class="btn btn__primary btn__large btn__300">{% trans "Ajouter" %}</button>
        </div>
    </form>
</section>
{% endblock main %}
