{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Édition du profil" %} - {% endblock title %}

{% block main %}
<div class="d-flex space-between">
    <a href="{% url 'accounts:profile-list' %}" class="btn btn__dark mb-1">{% trans "Voir tous les profils" %}</a>
    <a href="{% url 'accounts:profile' user_id=object.user.id %}" class="btn btn__warning mb-1">{% trans "Voir mon profil" %}</a>
</div>
<h1 class="large">{% trans "Éditer mon profil" %}</h1>
<p class="lead"><i class="fas fa-user-edit"></i>&nbsp;{% trans "Modifiez les informations professionnelles sur votre profil pour vous permettre d'être plus visible auprès de recruteurs" %}</p>
<section id="experience-section" class="mt-3 mb-1">
    {% include 'accounts/includes/experience.html' %}
</section>
<section id="education-section" class="mt-3 mb-1">
    {% include 'accounts/includes/education.html' %}
</section>
{% endblock main %}

{% block jquery %}
{% include 'accounts/includes/ajax_education.html' %}
{% include 'accounts/includes/ajax_experience.html' %}
{% endblock jquery %}
