{% extends 'base.html' %}
{% load static %}

{% block header_attr %}class="index"{% endblock header_attr %}
{% block header %}
<div class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Apprenez la programmation informatique</h1>
      <p id="lead-type" class="lead"></p>
      <hr>
    </div>
  </div>
</div>
{% endblock header %}

{% block javascript %}
<script src="{% static 'js/typed.min.js' %}"></script>
{% endblock javascript %}

{% block jquery %} let typed = new Typed('#lead-type', { strings: ["Ne grandissons pas dans un monde sans le comprendre.", "Apprendre la programmation, c'est comprendre l'avenir et agir sur celui-ci !"], typeSpeed: 35, backSpeed: 15, loop: true, }); $('span.typed-cursor').hide(); {% endblock jquery %}
