{% extends 'base.html' %}
{% load i18n socialaccount %}

{% block title %}{% trans "Profils publics" %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans "Profils de développeurs et étudiants" %}</h1>
<p class="lead"><i class="fab fa-connectdevelop"></i>&nbsp;{% trans "Découvrez-en plus sur eux !" %}</p>
<form method="GET" class="form mb-2">
    <div class="form-group">
        {{ form.q_profile }}
        <small class="form-text">{{ form.q_profile.help_text }}</small>
    </div>
</form>
{% if query is not None and query != '' and count > 0 %}
    <h3 class="center-text mb-1">{% blocktrans count counter=count %}{{ counter }} profil trouvé{% plural %}{{ counter }} profils trouvés{% endblocktrans %}</h3>
{% endif %}
<div class="profiles">
    {% for object in object_list %}
        {% get_social_accounts object.user as accounts %}
        <div class="profile bg-light-dark">
            <img class="bg-dark" src="{% if accounts %}{{ object.user.socialaccount_set.all.0.get_avatar_url }}{% else %}{{ object.image.url }}{% endif %}" alt="{% trans "Image de profil" %}" />
            <div>
                <h2>{% if object.user.first_name and object.user.last_name %}{{ object.user.first_name }}&nbsp;{{ object.user.last_name }}&nbsp;({{ object.user.username }}){% else %}{{ object.user.username }}{% endif %}</h2>
                <p>{{ object.get_last_experience_or_education }}</p>
                {% if object.country %}<p>{{ object.get_country_display }}</p>{% endif %}
                <a href="{% url 'accounts:profile' user_id=object.user.id %}" class="btn btn__primary">{% trans "Voir le profil" %}</a>
            </div>
            {% if object.languages_learnt.count > 0 %}
                <ul>
                    {% for language in object.languages_learnt.all %}
                        <li class="info-color"><i class="fas fa-check"></i>&nbsp;{{ language.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% empty %}
        <h3 class="red-color center-text">{% trans "Aucun profil trouvé" %}</h3>
    {% endfor %}
</div>
{% endblock main %}
