{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Profil de" %}&nbsp;{% if object.user.first_name and object.user.last_name %}{{ object.user.first_name }}&nbsp;{{ object.user.last_name }}&nbsp;({{ object.user.username }}){% else %}{{ object.user.username }}{% endif %} - {% endblock title %}

{% block extra_head %}<style>h1.large{word-break: break-all;}@media(max-width:350px){.p-2{padding:1rem}}</style>{% endblock extra_head %}

{% block main %}
<div class="d-flex space-between">
    <a href="{% url 'accounts:profile-list' %}" class="btn btn__dark mb-1">Voir tous les profils</a>
    {% if request.user == object.user %}<a href="{% url 'accounts:profile-edit' user_id=object.user.id %}" class="btn btn__warning mb-1">Éditer mon profil</a>{% endif %}
</div>
<div class="profile-grid my-1">
    <div class="profile-top bg-info p-2">
        <img src="{{ object.image.url }}" alt="{% trans "Image de profil" %}" class="round-img">
        <h1 class="large">{% if object.user.first_name and object.user.last_name %}{{ object.user.first_name }}&nbsp;{{ object.user.last_name }}&nbsp;({{ object.user.username }}){% else %}{{ object.user.username }}{% endif %}</h1>
        <p class="lead">{% if object.is_student %}{% trans "Étudiant" %}{% elif object.is_dev %}{% trans "Développeur professionnel" %}{% else %}{% trans "Amateur" %}{% endif %}</p>
        {% if object.country %}<p>{{ object.get_country_display }}</p>{% endif %}
        <div class="icons my-1">
            {% if object.links == ";;;;;" %}
                {% trans "Aucun réseau social n'est relié a ce compte" %}
            {% else %}
                {% for media, link in media_links.items %}
                    {% if link != '' %}
                        {% if media == 'website' %}
                            <a href="{{ link }}" title="{% trans "Site web" %}">
                                <i class="fas fa-2x fa-globe"></i>
                            </a>
                        {% elif media == 'youtube' %}
                            <a href="{{ link }}" title="Youtube">
                                <i class="fab fa-2x fa-youtube"></i>
                            </a>
                        {% elif media == 'linkedin' %}
                            <a href="{{ link }}" title="Linked In">
                                <i class="fab fa-2x fa-linkedin"></i>
                            </a>
                        {% elif media == 'facebook' %}
                            <a href="{{ link }}" title="Facebook">
                                <i class="fab fa-2x fa-facebook-square"></i>
                            </a>
                        {% elif media == 'twitter' %}
                            <a href="{{ link }}" title="Twitter">
                                <i class="fab fa-2x fa-twitter"></i>
                            </a>
                        {% elif media == 'instagram' %}
                            <a href="{{ link }}" title="Instagram">
                                <i class="fab fa-2x fa-instagram"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="profile-about bg-dark p-2">
        <h2 class="primary-color">{% if request.user == object.user %}{% trans "Votre biographie" %}{% else %}{% trans "Biographie de" %}&nbsp;{% if object.user.first_name and object.user.last_name %}{{ object.user.first_name }}&nbsp;{{ object.user.last_name }}{% else %}{{ object.user.username }}{% endif %}{% endif %}</h2>
        <p{% if object.biography %}>{{ object.biography }}{% else %} class="center-text">{% trans "Biographie vide" %}{% endif %}</p>
        <hr class="my-1">
        <h2 class="primary-color">{% if request.user == object.user %}{% trans "Mes conpétences" %}{% else %}{% trans "Ses compétences" %}{% endif %}</h2>
        <div class="skills">
            {% for skill in object.languages_learnt.all %}
                <div class="p-1">
                    <i class="fas fa-check"></i>&nbsp;{{ skill.name }}
                </div>
            {% empty %}
                <div>{% trans "Aucune compétence renseignée" %}</div>
            {% endfor %}
        </div>
    </div>
    <div class="profile-experience bg-white p-2">
        <h2 class="primary-color">{% trans "Espace expériences" %}</h2>
        {% for experience in object.experiences.all %}
            <div>
                <h3>{{ experience.entreprise }}</h3>
                <p>{{ experience.entry_date|date:"F Y"|title }} - {% if experience.exit_date %}{{ experience.exit_date|date:"F Y"|title }}{% else %}{% trans "Maintenant" %}{% endif %}</p>
                <p><strong>{% trans "Poste" %} :</strong>&nbsp;{{ experience.employment }}</p>
            </div>
        {% empty %}
            <div>{% trans "Aucune expérience renseignée" %}</div>
        {% endfor %}
    </div>
    <div class="profile-education bg-white p-2">
        <h2 class="primary-color">{% trans "Espace éducations" %}</h2>
        {% for education in object.educations.all %}
            <div>
                <h3>{{ education.school }}</h3>
                <p>{{ education.entry_date|date:"F Y"|title }} - {% if education.exit_date %}{{ education.exit_date|date:"F Y"|title }}{% else %}{% trans "Maintenant" %}{% endif %}</p>
                <p><strong>{% trans "Diplôme" %} :</strong>&nbsp;{{ education.degree }}</p>
            </div>
        {% empty %}
            <div>{% trans "Aucune école renseignée" %}</div>
        {% endfor %}
    </div>
    <div class="profile-github">
        <h2 class="primary-color my-1">
            <i class="fab fa-github"></i>&nbsp;{% trans "Dépôts Github" %}
        </h2>
        {% for repo in repos %}
            <div class="repo bg-white my-1 p-1">
                <div>
                    <h4><a href="{{ repo.url }}" target="_blank">{{ repo.name }}</a></h4>
                    <p>{{ repo.description|safe|truncatechars:200 }}</p>
                </div>
                <div>
                    <ul>
                        <li class="badge badge__danger badge__block">{% trans "Étoiles" %} : {{ repo.stars }}</li>
                        <li class="badge badge__dark badge__block">{% trans "Vues" %} : {{ repo.watchers }}</li>
                    </ul>
                </div>
            </div>
        {% empty %}
            <div class="repo bg-white my-1 p-1">{% trans "Son compte Github n'est pas relié. Aucun dépôt ne peut être trouvé" %}</div>
        {% endfor %}
    </div>
</div>
{% endblock main %}
