{% extends 'analytics/base_analytic.html' %}
{% load static i18n js %}

{% block title %}{% trans "Mes cours" %} - {% endblock title %}

{% block extra_head %}
<style>
.dashboard-grid {display: grid; grid-gap: 10px; grid-template-columns: 1fr 1fr;}
@media screen and (max-width: 1050px){.dashboard-grid{grid-template-columns: 1fr;}}
</style>
{% endblock extra_head %}

{% block main %}
<h1 class="large">{% trans "Mes cours" %}</h1>
<div class="dashboard-grid">
    {% for course in data %}
        <div class="card card-hoverable">
            <div class="card-header">
                <a href="{{ course.get_absolute_url }}"><img class="card-image" src="{{ course.thumbnail.url }}"
                        alt="{{ course.title }}"></a>
            </div>
            <div class="card-container">
                <a href="{{ course.get_absolute_url }}">
                    <h3 class="card-title">{{ course.title }} : {% blocktrans count counter=course.students.count %}{{ counter }} étudiant enrollé{% plural %}{{ counter }} étudiants enrollés{% endblocktrans %}</h3>
                </a>
                <div class="card-tags">
                    {% include 'main/includes/tags.html' with object=course card=True %}
                </div>
                <a href="{{ course.get_absolute_url }}">
                    <div class="card-content">
                        {{ course.content_introduction|safe|truncatechars:200 }}
                    </div>
                </a>
                <div class="card-info">
                    <div class="card-difficulty">{{ course.get_difficulty_display }}</div>
                    <div class="card-experience">{{ course.get_all_experience }} EXP</div>
                    <div class="card-date">{{ course.published_date }}</div>
                </div>
                <div class="card-price">
                    <a href="{% url 'courses:update' slug=course.slug %}" title="{% trans "Modifier" %}" class="btn btn__large btn__outline__info"><i class="fas fa-pen"></i></a>
                    <a href="{% url 'courses:delete' slug=course.slug %}" title="{% trans "Supprimer" %}" class="btn btn__large btn__outline__danger"><i class="fas fa-times"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock main %}

{% block jquery %}
function favori(star) {if (star.hasClass('fas')) {star.parent().attr('title', "Remove favorites");$('body').append("<div class='toast'>{% if type == 'my_favorite_tutorials' %}Tutorial{% else %}Article{% endif %} added to favorites</div>");} else {star.parent().attr('title', "Add to favorites");$('body').append("<div class='toast'>{% if type == 'my_favorite_tutorials' %}Tutorial{% else %}Article{% endif %} removed from favorites</div>");}$('.toast').css({ 'visibility': 'visible' }).delay(3000).fadeOut('fast');};
{% include 'main/includes/ajax_favorite.html' %}
{% endblock jquery %}
