{% extends "socialaccount/base.html" %}
{% load i18n recaptcha3 %}

{% block title %}{% trans "Signup" %} - {% endblock title %}

{% block main %}
{% recaptcha_init %}
{% recaptcha_ready action_name='/' %}
<h1>{% trans "Sign Up" %}</h1>
<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>
<form class="form mb-3" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    {% include 'includes/form_snippet_fields.html' with form=form %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "S'enregistrer" %}</button>
    </div>
</form>

{% endblock %}