{% extends 'base.html' %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block main %}
<h1 class="large">{{ object.title }}</h1>
{% if object.author == request.user or request.user.is_staff %}
    <div class="my-2 d-flex space-between">
        <a href="{% url 'courses:list' %}" class="btn btn__success btn__large">Retour</a>
        <a href="{% url 'courses:update' slug=object.slug %}" class="btn btn__info btn__large">Modifier l'aperçu du cours</a>
        <a href="{% url 'courses:delete' slug=object.slug %}" class="btn btn__danger btn__large">Supprimer le cours</a>
    </div>
{% endif %}
<section>
    <h2>Informations générales</h2>
    <figure>
        <img src="{{ object.thumbnail.url }}" alt="Vignette du cours">
    </figure>
    {{ object.content_introduction|safe }}
    <p>Cours rédigé par <a href="profile.html">{{ object.author.username }}</a> et paru le {{ object.published_date }}</p>
    <div>
        {% if object.get_all_downloadable_resources != 0 %}
            <div class="lead">
                <i class="fas fa-file-code"></i> {{ object.get_all_downloadable_resources }} ressources téléchargables
            </div>
        {% endif %}
        {% if object.pdf %}
            <div class="lead">
                <i class="fas fa-file-pdf"></i> <a href="{{ object.pdf.url }}">PDF disponible</a>
            </div>
        {% endif %}
        <div class="tags">
            {% include "main/includes/tags.html" with object=object %}
        </div>
    </div>
</section>
<section>
    <div class="mt-1">
        <h2>Tutoriels appartenant au cours</h2>
        <ul class="tutorial-list">
            {% for tut in object.get_tutorials %}
                <li>{% if can_view %}<a href="{{ tut.get_absolute_url }}">{{ forloop.counter }} - {{ tut.title }}</a>{% else %}{{ forloop.counter }} - {{ tut.title }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% if object.quizzes.all.count > 0 %}
        <div class="mt-1">
        <h2>Quiz appartenant au cours</h2>
            <ul class="tutorial-list pt-1">
                {% for quiz in object.quizzes.all %}
                    <li>{% if can_view %}<a href="{{ quiz.get_absolute_url }}">{{ forloop.counter }} - {{ quiz.title }}</a>{% else %}{{ forloop.counter }} - {{ quiz.title }}{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>
{% if not can_view %}
    <section>
        <h2>Enrollez-vous dès maintenant pour accéder à ce cours</h2>
        <div class="center-text">
        {% comment %} TODO : paiement quand ce sera fait {% endcomment %}
            <a href="{% url 'courses:user-enrolling' slug=object.slug %}" class="btn btn__danger btn__large">S'enroller 
                {% if object.new_price %}
                    {% if object.new_price == 0 %}
                        gratuitement
                    {% else %}
                        pour {{ object.new_price }}€
                    {% endif %}
                {% else %}
                    {% if object.old_price == 0 %}
                        gratuitement
                    {% else %}
                        pour {{ object.old_price }}€
                    {% endif %}
                {% endif %}
            </a>
        </div>
    </section>
{% endif %}
{% endblock main %}
