{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<style>@media (max-width: 380px){#buttons, #buttons a{display: block} #buttons a{margin: 5px 0;}}</style>
{% endblock extra_head %}

{% block main %}
<h1 class="large">{{ object.title }}</h1>
<div id="buttons" class="my-2 d-flex space-between">
    <a href="{% url 'courses:list' %}" class="btn btn__success btn__large">{% trans 'Retour' %}</a>
    {% if object.author == request.user or request.user.is_staff %}
        <a href="{% url 'courses:update' slug=object.slug %}" class="btn btn__info btn__large">{% trans "Modifier l'aperçu du cours" %}</a>
        <a href="{% url 'courses:delete' slug=object.slug %}" class="btn btn__danger btn__large">{% trans 'Supprimer le cours' %}</a>
    {% endif %}
</div>
<section>
    <h2>{% trans 'Informations générales' %}</h2>
    <figure>
        <img src="{{ object.thumbnail.url }}" alt="Vignette du cours">
    </figure>
    {{ object.content_introduction|safe }}
    <p>{% trans "Cours rédigé par" %} <a href="{% url 'accounts:profile' user_id=object.author.id %}">{{ object.author.username }}</a> {% trans 'et paru le' %} {{ object.published_date }}</p>
    <div>
        {% if object.get_all_downloadable_resources != 0 %}
            <div class="lead">
                {% blocktrans count counter=object.get_all_downloadable_resources %}
                    <i class="fas fa-file-code"></i> {{ counter }} ressource téléchargable
                {% plural %}
                    <i class="fas fa-file-code"></i> {{ counter }} ressources téléchargables
                {% endblocktrans %}
            </div>
        {% endif %}
        {% if object.pdf %}
            <div class="lead">
                <i class="fas fa-file-pdf"></i>&nbsp;<a href="{{ object.pdf.url }}">{% trans 'PDF disponible' %}</a>
            </div>
        {% endif %}
        <div class="tags">
            {% include "main/includes/tags.html" with object=object %}
        </div>
    </div>
</section>
<section>
    <div class="mt-1">
        <h2>{% trans 'Tutoriels appartenant au cours' %}</h2>
        <ul class="tutorial-list">
            {% for tut in object.get_tutorials %}
                <li>{% if can_view %}<a href="{{ tut.get_absolute_url }}">{{ forloop.counter }} - {{ tut.title }}</a>{% else %}{{ forloop.counter }} - {{ tut.title }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    {% if object.quizzes.all.count > 0 %}
        <div class="mt-1">
        <h2>{% trans 'Quiz appartenant au cours' %}</h2>
            <ul class="tutorial-list pt-1">
                {% for quiz in object.quizzes.all %}
                    <li>{% if can_view %}<a href="{{ quiz.get_absolute_url }}">{{ forloop.counter }} - {{ quiz.title }}</a>{% else %}{{ forloop.counter }} - {{ quiz.title }}{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>
{% if not can_view %}
    <section>
        <h2>{% trans 'Enrollez-vous dès maintenant pour accéder à ce cours' %}</h2>
        <div class="center-text">
            <a href="{% url 'courses:user-enrolling' slug=object.slug %}" class="btn btn__light btn__large">{% trans "S'enroller" %} 
                {% if object.new_price %}
                    {% if object.new_price == 0 %}
                        {% trans 'gratuitement' %}
                    {% else %}
                        {% trans 'pour' %} {{ object.new_price }}€
                    {% endif %}
                {% else %}
                    {% if object.old_price == 0 %}
                        {% trans 'gratuitement' %}
                    {% else %}
                        {% trans 'pour' %} {{ object.old_price }}€
                    {% endif %}
                {% endif %}
            </a>
            {% if user.is_authenticated %}<a href="{{ object.get_remove_course_from_cart_url }}" class="btn btn__danger btn__large">{% trans 'Enlever du panier' %}</a>{% endif %}
        </div>
    </section>
{% endif %}
{% endblock main %}
