{% extends 'base.html' %}
{% load static i18n %}

{% url 'main:contact' as contact_url %}
{% url 'main:contact' as contact %}

{% block title %}{% if type == 'add' %}{% trans 'Ajouter un cours' %}{% else %}{% trans 'Modifier un cours' %}{% endif %} - {% endblock title %}

{% block main %}
<h1 class="large">{% if type == 'add' %}{% trans 'Ajouter un cours' %}{% else %}{% trans 'Modifier un cours' %}{% endif %}</h1>
{% if type == 'modify' %}
    <div class="my-2 d-flex space-between">
        <a href="{% url 'courses:detail' slug=object.slug %}" class="btn btn__success btn__large">{% trans 'Retour' %}</a>
        <a href="{% url 'courses:delete' slug=object.slug %}" class="btn btn__danger btn__large">{% trans 'Supprimer le cours' %}</a>
    </div>
{% endif %}
<form method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    {{ form.media }}
    <fieldset>
        <legend>{% trans 'Informations générales' %}</legend>
        {% include 'includes/form_field.html' with field=form.title %}
        {% include 'includes/form_field.html' with field=form.thumbnail %}
        {% include 'includes/form_field.html' with field=form.content_introduction %}
        {% include 'includes/form_field.html' with field=form.difficulty default_select=True %}
        {% include 'includes/form_field.html' with field=form.languages %}
        {% include 'includes/form_field.html' with field=form.tags %}
        {% include 'includes/form_field.html' with field=form.pdf %}
        {% if type == 'modify' %}
            <hr class="dashed">
            <div class="form-group">
                <ul>
                    {% for tutorial in tutorials %}
                        <li>
                            <div class="d-flex align space-between">
                                <a href="{% url 'courses:tutorial-detail' course_slug=object.slug tutorial_slug=tutorial.slug %}" title="">{{ tutorial.title }}</a>
                                <span>
                                    <a href="{% url 'courses:tutorial-update' course_slug=object.slug tutorial_slug=tutorial.slug %}" title="{% trans "Modifier" %}" class="btn btn__outline__info"><i class="fas fa-pen"></i></a>
                                    <a href="{% url 'courses:tutorial-delete' course_slug=object.slug tutorial_slug=tutorial.slug %}" title="{% trans "Supprimer" %}" class="btn btn__danger"><i class="fas fa-times"></i></a>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form-group center-text">
                    <a href="{% url 'courses:tutorial-create' course_slug=object.slug %}" class="btn btn__large btn__outline__success">{% trans 'Ajouter un tutoriel' %}</a>
                </div>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>{% trans 'Informations complémentaires' %}</legend>
        {% if form.published_date %}
            {% include 'includes/form_field.html' with field=form.published_date %}
        {% endif %}
        {% include 'includes/form_field.html' with field=form.old_price %}
        {% include 'includes/form_field.html' with field=form.new_price %}
    </fieldset>
    {% blocktrans %}<small class="d-block mb-1">Tous les champs avec un <span class="required-input">*</span> sont obligatoires.</small>{% endblocktrans %}
    <div class="center-text">
        <button type="submit" class="btn btn__success btn__large btn__300">{% if type == 'add' %}{% trans 'Ajouter' %}{% else %}{% trans 'Modifier' %}{% endif %}</button>
    </div>
</form>
{% endblock main %}
