{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% if type == 'add' %}{% trans 'Ajouter un cours' %}{% else %}{% trans 'Modifier un cours' %}{% endif %} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'style/css/vs2015.css' %}" />
{% endblock extra_head %}

{% block main %}
<h1 class="large">{% if type == 'add' %}{% trans 'Ajouter un cours' %}{% else %}{% trans 'Modifier un cours' %}{% endif %}</h1>
{% if type == 'modify' %}
    <div class="my-2 d-flex space-between">
        <a href="{% url 'courses:detail' slug=object.slug %}" class="btn btn__success btn__large">{% trans 'Retour' %}</a>
        <a href="{% url 'courses:delete' slug=object.slug %}" class="btn btn__danger btn__large">{% trans 'Supprimer le cours' %}</a>
    </div>
{% endif %}
<form method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <fieldset>
        <legend>{% trans 'Information générales' %}</legend>
        <div class="form-group">
            {{ form.title.errors }}
            <label>{{ form.title.label }} : <span class="required-input">*</span><br>
            {{ form.title }}</label>
        </div>
        <div class="form-group">
            {{ form.thumbnail.label_tag }}&nbsp;<span class="required-input">*</span><br>
            {{ form.thumbnail }}
        </div>
        <div class="form-group">
            <label for="apercu">{{ form.content_introduction.label }} : <span class="required-input">*</span></label><br>
            <div>
                {{ form.content_introduction }}
            </div>
        </div>
        <div class="form-group">
            <label>{{ form.difficulty.label }} : <span class="required-input">*</span></label>
            <div class="custom-select select__warning">
                {{ form.difficulty }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.languages.id_for_label }}">{{ form.languages.label }} : <span class="required-input">*</span></label>
            <div class="custom-multiple-select select-multiple__light">
                {{ form.languages }}
            </div>
            <small class="form-text">
                {{ form.languages.help_text }}
            </small>
        </div>
        <div class="form-group">
            <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }} : <span class="required-input">*</span></label>
            <div class="custom-multiple-select select-multiple__light">
                {{ form.tags }}
            </div>
            <small class="form-text">
                {{ form.tags.help_text|safe }}
            </small>
        </div>
        <div class="form-group">
            {{ form.pdf.label_tag }}
            {{ form.pdf }}
        </div>
        {% if type == 'modify' %}
            <hr class="dashed">
            <div class="form-group">
                <ul>
                    {% for tutorial in tutorials %}
                        <li>
                            <div class="d-flex align space-between">
                                <a href="{% url 'courses:tutorial-detail' course_slug=object.slug tutorial_slug=tutorial.slug %}" title="">{{ tutorial.title }}</a>
                                <span>
                                    <a href="{% url 'courses:tutorial-update' course_slug=object.slug tutorial_slug=tutorial.slug %}" title="Modifier" class="btn btn__outline__info"><i class="fas fa-pen"></i></a>
                                    <a href="{% url 'courses:tutorial-delete' course_slug=object.slug tutorial_slug=tutorial.slug %}" title="Supprimer" class="btn btn__danger"><i class="fas fa-times"></i></a>
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="form-group center-text">
                    <a href="{% url 'courses:tutorial-create' course_slug=object.slug %}" class="btn btn__large btn__outline__success">{% trans 'Ajouter un tutoriel' %}</a>
                </div>
        {% endif %}
    </fieldset>
    <fieldset>
        <legend>{% trans 'Informations complémentaires' %}</legend>
        {% if form.published_date %}
            <div class="form-group">
                {{ form.published_date.label_tag }}&nbsp;<span class="required-input">*</span>
                {{ form.published_date }}
                <small class="form-text">{{ form.published_date.help_text }}</small>
            </div>
        {% endif %}
        <div class="form-group">
            <label>{{ form.old_price.label }} : <span class="required-input">*</span><br>
            {{ form.old_price }}</label>
        </div>
        <div class="form-group">
            <label>{{ form.new_price.label }} :<br>
            {{ form.new_price }}</label>
        </div>
    </fieldset>
    {% blocktrans %}<small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont obligatoires.</small>{% endblocktrans %}
    <div class="center-text">
        <button type="submit" class="btn btn__success btn__large btn__300">{% if type == 'add' %}{% trans 'Ajouter' %}{% else %}{% trans 'Modifier' %}{% endif %}</button>
    </div>
</form>
{% endblock main %}
