{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/style/css/vs2015.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock extra_head %}

{% block main_attr %}class="aside"{% endblock main_attr %}

{% block aside_left %}
<aside class="navbar navbar__dark navbar__vertical">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="navbar-links sticky-box">
        {% for tutorial in course_tutorials %}
            {% if object == tutorial %}
                <li class="navbar-item"><a class="active" href="{{ tutorial.get_absolute_url }}" title="{{ tutorial.title|truncatechars:50 }}">{{ forloop.counter }} - {{ tutorial.title }} </a></li>
            {% else %}
                <li class="navbar-item"><a href="{{ tutorial.get_absolute_url }}" title="{{ tutorial.title|truncatechars:50 }}">{{ forloop.counter }} - {{ tutorial.title }} </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>
{% endblock aside_left %}

{% block main %}
<h1 class="large">{{ object.title }}</h1>
{% if request.user.is_staff or object.author == request.user %}
    <div class="my-2 d-flex space-between">
        <a href="modify_tutorial.html" class="btn btn__info btn__large">Modifier le tutoriel</a>
        <a href="#" class="btn btn__danger btn__large">Supprimer le tutoriel</a>
    </div>
{% endif %}
<div class="center-text">
    <i class="far fa-eye"></i>&nbsp;{{ object.views }}
</div>
<div>
    {{ object.content|safe }}
</div>
{% if prev_tutorial or next_tutorial %}
    <div class="d-flex space-between">
        {% if prev_tutorial %}
            <a href="{{ prev_tutorial.get_absolute_url }}" title="{{ prev_tutorial.title }}" class="btn btn__outline__success btn__large">Précédent</a>
        {% endif %}
        {% if next_tutorial %}
            {% if prev_tutorial is None %}
                <span></span>
            {% endif %}
            <a href="{{ next_tutorial.get_absolute_url }}" title="{{ next_tutorial.title }}" class="btn btn__outline__success btn__large">Suivant</a>
        {% endif %}
    </div>
{% endif %}
{% endblock main %}

{% block comments %}
<div class="comments py-2">
    <div class="container">
        {% if request.user.is_authenticated %}
            <form method="POST" class="form">
                {% csrf_token %}
                <fieldset>
                    <legend>Rédiger un commentaire</legend>
                    <div class="form-group">
                        {{ form.content.label_tag }}
                        {{ form.content }}
                    </div>
                </fieldset>
                <div class="center-text">
                    <button type="submit" class="btn btn__info btn__large btn__300">Commenter</button>
                </div>
            </form>
        {% else %}
            <p>Vous devez être connecter pour commenter</p>
        {% endif %}
        <div class="mt-2">
            <div class="center-text">
                {{ parent_comments.count }} Commentaire{{ parent_comments|pluralize }}
            <div>
            {% for parent_comment in parent_comments %}
                <div class="comment">
                    <div class="commentary">
                        <img src="{{ parent_comment.user.profile.image.url }}" alt="Photo de profil" class="profile-image round-image" />
                        <span><a href="profile.html">{{ parent_comment.user.username }}</a>, {{ parent_comment.posted_date }}</span>
                    </div>
                    <p>{{ parent_comment.content }}</p>
                    <div>
                        <div>
                            {% for reply in parent_comment.children %}
                                <div class="comment">
                                    <div class="commentary">
                                        <img src="{{ parent_comment.user.profile.image.url }}" alt="Photo de profil" class="profile-image round-image" />
                                        <span><a href="profile.html">{{ reply.user.username }}</a>, {{ reply.posted_date }}</span>
                                    </div>
                                    <p>{{ reply.content }}</p>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                        <div class="center-text">
                            {% if request.user.is_authenticated %}
                                <button type="submit" class="reply btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                            {% else %}
                                <button disabled type="submit" class="reply btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                            {% endif %}
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="reply-form">
                                {{ parent_comment.id }}
                                <form method="POST" class="form">
                                    {% csrf_token %}
                                    <fieldset>
                                        <legend>Rédiger une réponse</legend>
                                        <div class="form-group">
                                            <input type="hidden" name="parent_id" value="{{ parent_comment.id }}">
                                            {{ form.content.label_tag }}
                                            {{ form.content }}
                                        </div>
                                    </fieldset>
                                    <div class="center-text">
                                        {% if request.user.is_authenticated %}
                                            <button type="submit" class="btn btn__info btn__large"><i class="fas fa-reply"></i> Envoyer</button>
                                        {% else %}
                                            <button disabled type="submit" class="btn btn__info btn__large"><i class="fas fa-reply"></i> Envoyer</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                    <h4>Il n'y a pas encore de commentaire.</h4>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock comments %}

{% block javascript %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}

{% block jquery %}$('.reply-form').hide();$('.reply').click(function () {$(this).parent().next().toggle();});
{% endblock jquery %}
