{% extends 'base.html' %}
{% load static i18n recaptcha3 %}

{% block title %}{% if type == 'add' %}{% trans 'Ajouter un tutoriel' %}{% else %}{% trans 'Modifier un tutoriel' %}{% endif %} - {% endblock title %}

{% block main %}
{% recaptcha_init %}
{% recaptcha_ready action_name='/' %}
<h1 class="large">{% if type == 'add' %}{% trans 'Ajouter un tutoriel au cours' %}{% else %}{% trans 'Modifier un tutoriel du cours' %}{% endif %} "{{ course.title }}"</h1>
<form method="POST" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    {{ form.media }}
    <fieldset>
        <legend>{% trans 'Information générales' %}</legend>
        {% include 'includes/form_field.html' with field=form.title %}
        {% include 'includes/form_field.html' with field=form.content %}
    </fieldset>
    <fieldset>
        <legend>{% trans 'Information suplémentaires' %}</legend>
        {% include 'includes/form_field.html' with field=form.experience %}
        {% include 'includes/form_field.html' with field=form.resources %}
    </fieldset>
    <small class="d-block mb-1">{% blocktrans %}Tous les champs avec un <span class="required-input">*</span> sont obligatoires.{% endblocktrans %}</small>
    <div class="center-text">
        {% if type == 'modify' %}
            <a href="{{ object.get_absolute_url }}" class="btn btn__warning btn__large btn__300">{% trans 'Retour' %}</a>
        {% else %}
            <a href="{% url 'courses:detail' slug=course.slug %}" class="btn btn__warning btn__large btn__300">{% trans 'Retour' %}</a>
        {% endif %}
        <button type="submit" class="btn btn__success btn__large btn__300">{% if type == 'add' %}{% trans 'Ajouter' %}{% else %}{% trans 'Modifier' %}{% endif %}</button>
    </div>
</form>
{% endblock main %}
