{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/style/css/vs2015.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock extra_head %}

{% block main_attr %}class="aside"{% endblock main_attr %}

{% block aside_left %}
<aside class="navbar navbar__dark navbar__vertical">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="navbar-links sticky-box">
        {% for tutorial in course_tutorials %}
            {% if object == tutorial %}
                <li class="navbar-item"><a class="active" href="{{ tutorial.get_absolute_url }}" title="{{ tutorial.title|truncatechars:50 }}">{{ forloop.counter }} - {{ tutorial.title }} </a></li>
            {% else %}
                <li class="navbar-item"><a href="{{ tutorial.get_absolute_url }}" title="{{ tutorial.title|truncatechars:50 }}">{{ forloop.counter }} - {{ tutorial.title }} </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</aside>
{% endblock aside_left %}

{% block main %}
<h1 class="large">{{ object.title }}</h1>
{% if request.user.is_staff or object.author == request.user %}
    <div class="my-2 d-flex space-between">
        <a href="modify_tutorial.html" class="btn btn__info btn__large">Modifier le tutoriel</a>
        <a href="#" class="btn btn__danger btn__large">Supprimer le tutoriel</a>
    </div>
{% endif %}
<div class="center-text">
    <i class="far fa-eye"></i>&nbsp;{{ object.views }}
</div>
<div>
    {{ object.content|safe }}
</div>
{% if prev_tutorial or next_tutorial %}
    <div class="d-flex space-between">
        {% if prev_tutorial %}
            <a href="{{ prev_tutorial.get_absolute_url }}" title="{{ prev_tutorial.title }}" class="btn btn__outline__success btn__large">Précédent</a>
        {% endif %}
        {% if next_tutorial %}
            {% if prev_tutorial is None %}
                <span></span>
            {% endif %}
            <a href="{{ next_tutorial.get_absolute_url }}" title="{{ next_tutorial.title }}" class="btn btn__outline__success btn__large">Suivant</a>
        {% endif %}
    </div>
{% endif %}
{% endblock main %}

{% block comments %}
<div class="comments py-2">
    <div class="container">
        <form action="tutorial_detail.html" class="form">
            <fieldset>
                <legend>Rédiger un commentaire</legend>
                <div class="form-group">
                    <label for="comment">Commentaire : <span class="required-input">*</span></label><br>
                    <textarea name="tuto-comment" id="comment" placeholder="Blablabla..." required></textarea>
                </div>
            </fieldset>
            <small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont
                obligatoires.</small>
            <div class="center-text">
                <button type="submit" class="btn btn__info btn__large btn__300">Commenter</button>
            </div>
        </form>
        <div class="mt-2">
            <div class="comment">
                <div class="commentary">
                    <img src="../images/404.png" alt="Photo de profil" class="profile-image round-image" />
                    <span><a href="profile.html">johndoe</a>, le 7 juin 2019 à 22h00</span>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum temporibus, expedita omnis dolores
                    beatae error nemo quisquam corporis adipisci molestias ipsa nesciunt non, provident magni velit
                    eveniet neque sunt officia illo earum consequuntur eaque. Animi cum, dolor cumque accusamus iure
                    soluta temporibus incidunt et, voluptatum facilis sed, adipisci aspernatur architecto nulla
                    corporis molestias quas hic omnis illum ad voluptates blanditiis in eos! Reiciendis ab
                    necessitatibus ratione ducimus deleniti voluptates numquam ea consequatur totam cupiditate
                    accusamus quasi architecto laudantium rerum, veniam dolor. Consequuntur veritatis quia
                    laudantium earum fugit! Ipsa natus minus beatae, molestiae, laboriosam nobis neque, aliquam
                    quisquam dolorem dolorum inventore!
                </p>
                <div>
                    <div class="center-text">
                        <button class="reply btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                    </div>
                    <div class="reply-form"></div>
                </div>
            </div>
            <div class="comment">
                <div class="commentary">
                    <img src="../images/404.png" alt="Photo de profil" class="profile-image round-image" />
                    <span><a href="profile.html">johndoe</a>, le 7 juin 2019 à 22h00</span>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum temporibus, expedita omnis dolores
                    beatae error nemo quisquam corporis adipisci molestias ipsa nesciunt non, provident magni velit
                    eveniet neque sunt officia illo earum consequuntur eaque. Animi cum, dolor cumque accusamus iure
                    soluta temporibus incidunt et, voluptatum facilis sed, adipisci aspernatur architecto nulla
                    corporis molestias quas hic omnis illum ad voluptates blanditiis in eos! Reiciendis ab
                    necessitatibus ratione ducimus deleniti voluptates numquam ea consequatur totam cupiditate
                    accusamus quasi architecto laudantium rerum, veniam dolor. Consequuntur veritatis quia
                    laudantium earum fugit! Ipsa natus minus beatae, molestiae, laboriosam nobis neque, aliquam
                    quisquam dolorem dolorum inventore!
                </p>
                <div>
                    <div class="center-text">
                        <button class="reply btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                    </div>
                    <div class="reply-form"></div>
                </div>
            </div>
            <div class="comment">
                <div class="commentary">
                    <img src="../images/404.png" alt="Photo de profil" class="profile-image round-image" />
                    <span><a href="profile.html">johndoe</a>, le 7 juin 2019 à 22h00</span>
                </div>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum temporibus, expedita omnis dolores
                    beatae error nemo quisquam corporis adipisci molestias ipsa nesciunt non, provident magni velit
                    eveniet neque sunt officia illo earum consequuntur eaque. Animi cum, dolor cumque accusamus iure
                    soluta temporibus incidunt et, voluptatum facilis sed, adipisci aspernatur architecto nulla
                    corporis molestias quas hic omnis illum ad voluptates blanditiis in eos! Reiciendis ab
                    necessitatibus ratione ducimus deleniti voluptates numquam ea consequatur totam cupiditate
                    accusamus quasi architecto laudantium rerum, veniam dolor. Consequuntur veritatis quia
                    laudantium earum fugit! Ipsa natus minus beatae, molestiae, laboriosam nobis neque, aliquam
                    quisquam dolorem dolorum inventore!
                </p>
                <div>
                    <div class="center-text">
                        <button class="reply btn btn__outline__info"><i class="fas fa-reply"></i> Répondre</button>
                    </div>
                    <div class="reply-form"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock comments %}

{% block javascript %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}

{% block jquery %}$('.reply-form').hide();$('.reply').click(function () {$(this).parent().next().toggle();$(this).parent().next().html(`<form action="tutorial_detail.html" class="form"><fieldset><legend>Rédiger une réponse</legend><div class="form-group"><label for="comment-reply">Réponse : <span class="required-input">*</span></label><br><textarea autofocus name="tuto-comment-reply" id="comment-reply"placeholder="Blablabla..." required></textarea></div></fieldset><small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sontobligatoires.</small><div class="center-text"><button type="submit" class="btn btn__info btn__large btn__300"><i class="fas fa-paper-plane"></i></button></div></form>`);});
{% endblock jquery %}
