{% extends 'base.html' %}
{% load static course_extras %}
{% load i18n %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/style/css/vs2015.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock extra_head %}

{% block main_attr %}class="aside"{% endblock main_attr %}

{% block aside_left %}
<aside class="navbar navbar__dark navbar__vertical">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="navbar-links sticky-box">
        {% for tutorial in course_tutorials %}
            <li class="navbar-item"><a {% if object == tutorial %}class="active"{% endif %} href="{{ tutorial.get_absolute_url }}" title="{{ tutorial.title|truncatechars:25 }}">{{ forloop.counter }} - {{ tutorial.title }} </a></li>
        {% endfor %}
    </ul>
</aside>
{% endblock aside_left %}

{% block main %}
<h1 class="large">{{ object.title }}</h1>
<div class="my-2 d-flex space-between">
    <a href="{% url 'courses:detail' slug=object.course.slug %}" class="btn btn__light btn__large">Retour</a>
    {% if request.user.is_staff or object.author == request.user %}
        <a href="{% url 'courses:tutorial-update' course_slug=object.course.slug tutorial_slug=object.slug %}" class="btn btn__info btn__large">Modifier le tutoriel</a>
        <a href="{% url 'courses:tutorial-delete' course_slug=object.course.slug tutorial_slug=object.slug %}" class="btn btn__danger btn__large">Supprimer le tutoriel</a>
    {% endif %}
</div>
<div class="center-text">
    {{ object.experience }}&nbsp;EXP&nbsp;|&nbsp;<i class="far fa-clock"></i>&nbsp;{{ object.content|safe|time_estimate }}&nbsp;{% trans 'minutes' %}&nbsp;|&nbsp;<i class="far fa-eye"></i>&nbsp;{{ object.views }}{% if request.user.is_authenticated %}&nbsp;|&nbsp;<a data-href="{{ object.get_favorite_api_url }}" href="{{ object.get_favorite_url }}" title="{% if tutorial_in_favorite %}Enlever des favoris{% else %}Ajouter aux favoris{% endif %}" class="favorite-span"><i class="{% if tutorial_in_favorite %}fas{% else %}far{% endif %} fa-star favorite"></i></a>{% endif %}
</div>
<div>
    {{ object.content|safe }}
</div>
{% if prev_tutorial or next_tutorial %}
    <div class="d-flex space-between">
        {% if prev_tutorial %}
            <a href="{{ prev_tutorial.get_absolute_url }}" title="{{ prev_tutorial.title }}" class="btn btn__outline__success btn__large">Précédent</a>
        {% endif %}
        {% if next_tutorial %}
            {% if prev_tutorial is None %}
                <span></span>
            {% endif %}
            <a href="{{ next_tutorial.get_absolute_url }}" title="{{ next_tutorial.title }}" class="btn btn__outline__success btn__large">Suivant</a>
        {% endif %}
    </div>
{% endif %}
{% endblock main %}

{% block comments %}
<div class="comments py-2">
    {% include 'main/includes/comments.html' %}
</div>
{% endblock comments %}

{% block javascript %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}

{% block jquery %}
{% include 'main/includes/ajax_comments.html' %}
{% include 'main/includes/ajax_favorite.html' %}
{% endblock jquery %}
