$('.favorite-span').hover(function(e){
    $(this).css('cursor', 'pointer');
});
function favori(star) {
    if (star.hasClass('fas')) {
        star.parent().attr('title', "Enlever des favoris");
        $('body').append("<div class='toast'>Article ajouté aux favoris</div>");
    } else {
        star.parent().attr('title', "Mettre en favoris");
        $('body').append("<div class='toast'>Article enlevé des favoris</div>");
    }
    $('.toast').css({ 'visibility': 'visible' }).delay(3000).fadeOut('fast');
};
$('.favorite-span').click(function(e){
    e.preventDefault();
    let href = $(this).attr('href');
    let stars = [];
    $(".favorite-span").each(function(e){
        if($(this).attr('href') == href){stars.push($(this).children('.fa-star.favorite'))}
    });
    stars = $(stars);
    $.ajax({
        url: $(this).attr('href'),
        method: "GET",
        data: {favorite: 'ok'},
        success: function(data){
            stars.toggleClass('far fas');
            stars.each(function(e){favori($(this));});
        },
        error: function(error){console.log(error);}
    });
});