{% load i18n %}

<div class="comments py-2">
    <div class="container">
        {% if request.user.is_authenticated %}
            <form method="POST" class="form comment-form" action=".">
                {% csrf_token %}
                <fieldset>
                    <legend>{% trans 'Rédiger un commentaire' %}</legend>
                    {% include "includes/form_field2.html" with field=form.content %}
                </fieldset>
                <div class="center-text">
                    <button type="submit" class="btn btn__info btn__large btn__300">{% trans 'Commenter' %}</button>
                </div>
            </form>
        {% else %}
            <h4 class="center-text">{% trans 'Vous devez être connecter pour commenter' %}</h4>
        {% endif %}
        <div class="mt-2">
            <div class="center-text">
                {% blocktrans count counter=parent_comments.count %}
                    {{ counter }} commentaire
                {% plural %}
                    {{ counter }} commentaires
                {% endblocktrans %}
            <div>
            {% for parent_comment in parent_comments %}
                <div class="comment">
                    <div class="commentary">
                        <img src="{{ parent_comment.author.profile.image.url }}" alt="{% trans 'Photo de profil' %}" class="profile-image round-image" />
                        <span><a href="profile.html">{{ parent_comment.author.username }} ({{ parent_comment.author.profile.get_user_profile_type }})</a> {% trans "il y a" %} {{ parent_comment.timestamp|timesince }}</span>
                        <span class="ml-auto">{% if request.user == parent_comment.author %}<a title="{% trans "Supprimer le commentaire" %}" href="{{ parent_comment.get_delete_url }}">{% trans "Supprimer" %}</a>{% endif %}{% if not request.user == parent_comment.author %}&nbsp;<a href="{{ parent_comment.get_report_url }}" title="{% trans 'Signaler le commentaire' %}">{% trans 'Signaler' %}</a>{% endif %}</span>
                    </div>
                    <p>{{ parent_comment.content }}</p>
                    <div>
                        <div>
                            {% for reply in parent_comment.children %}
                                <div class="comment">
                                    <div class="commentary">
                                        <img src="{{ reply.author.profile.image.url }}" alt="{% trans 'Photo de profil' %}" class="profile-image round-image" />
                                        <span><a href="profile.html">{{ reply.author.username }} ({{ reply.author.profile.get_user_profile_type }})</a> {% trans "il y a" %} {{ reply.timestamp|timesince }}</span>
                                        <span class="ml-auto">{% if request.user == reply.author %}<a title="{% trans "Supprimer le commentaire" %}" href="{{ reply.get_delete_url }}">{% trans "Supprimer" %}</a>{% endif %}{% if not request.user == reply.author %}&nbsp;<a href="{{ reply.get_report_url }}" title="{% trans 'Signaler le commentaire' %}">{% trans 'Signaler' %}</a>{% endif %}</span>
                                    </div>
                                    <p>{{ reply.content }}</p>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                        <div class="center-text">
                            {% if request.user.is_authenticated %}
                                <button type="submit" class="reply-btn btn btn__outline__info"><i class="fas fa-reply"></i>&nbsp;{% trans 'Répondre' %}</button>
                            {% else %}
                                <button disabled type="submit" class="reply btn btn__outline__info"><i class="fas fa-reply"></i>&nbsp;{% trans 'Répondre' %}</button>
                            {% endif %}
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="reply">
                                <form method="POST" class="form reply-form" action=".">
                                    {% csrf_token %}
                                    <fieldset>
                                        <legend>{% trans 'Rédiger une réponse' %}</legend>
                                        <input type="hidden" name="parent_id" value="{{ parent_comment.id }}">
                                        {% include "includes/form_field2.html" with field=form.content %}
                                    </fieldset>
                                    <div class="center-text">
                                        {% if request.user.is_authenticated %}
                                            <button type="submit" class="btn btn__info btn__large"><i class="fas fa-reply"></i>&nbsp;{% trans 'Envoyer' %}</button>
                                        {% else %}
                                            <button disabled type="submit" class="btn btn__info btn__large"><i class="fas fa-reply"></i>&nbsp;{% trans 'Envoyer' %}</button>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                    <h4 class="center-text">{% trans "Il n'y a pas encore de commentaire." %}</h4>
            {% endfor %}
        </div>
    </div>
</div>
