{% if object.languages.all.count > 0 %}
    Tags :
    {% for lang in object.languages.all %}
        <a class="{% if card %}card-tag{% else %}tag{% endif %} {% if lang.name == 'C++' %}cpp-tag{% else %}{{ lang.name|lower }}-tag{% endif %}" href="{% url 'main:language_tag' slug=lang.slug %}" alt="{{ lang.name|upper }}">{{ lang.name }}</a>
    {% endfor %}
    {% for tag in object.tags.all %}
        <a class="{% if card %}card-tag{% else %}tag{% endif %}" href="{% url 'main:language_tag' slug=tag.slug %}" alt="{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
{% endif %}
