{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %} - {% endblock title %}

{% block main %}
<h1>{% trans "Change Password" %}</h1>
<form method="POST" action="{% url 'account_change_password' %}" class="form mb-3">
    {% csrf_token %}
    {% include 'includes/form_snippet_fields.html' with form=form %}
    <div class="center-text">
        <button type="submit" name="action" class="btn btn__info btn__large btn__300">{% trans "Change Password" %}</button>
    </div>
</form>
{% endblock main %}