{% extends "account/base.html" %}
{% load i18n recaptcha3 account socialaccount %}

{% block title %}{% trans "Signup" %} - {% endblock title %}

{% block main %}
{% recaptcha_init %}
{% recaptcha_ready action_name='/' %}
{% url 'main:terms' as terms_url %}
<h1>{% trans "Sign Up" %}</h1>
<p class="lead"><i class="fas fa-user-plus"></i>&nbsp;{% trans 'Créez votre compte dès maintenant !' %}</p>
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="social-btn mb-2">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<form class="form mb-3" id="signup_form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    <div class="row small-device">
        <div class="col-50 small-device">
            {% include 'includes/form_field.html' with field=form.username %}
        </div>
        <div class="col-50 small-device">
            {% include 'includes/form_field.html' with field=form.email %}
        </div>
    </div>
    <div class="form-group">
        {% include 'includes/form_field.html' with field=form.password1 %}
    </div>
    <div class="form-group">
        {% include 'includes/form_field.html' with field=form.password2 %}
    </div>
    <div class="form-group">
        <label><input type="checkbox" name="user-terms" required />&nbsp;&nbsp;{% blocktrans %}En cochant cette case, vous certifiez avoir lu et accepté les <a href="{{ terms_url }}">conditions générales d'utilisation et de vente</a> de Proglanglearn <span class="required-input">*</span></label>{% endblocktrans %}
    </div>
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <small class="d-block mb-1">{% blocktrans %}Tous les champs avec d'un <span class="required-input">*</span> sont obligatoires.{% endblocktrans %}</small>
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "S'enregistrer" %}</button>
    </div>
</form>
<p class="mt-1">{% trans 'Vous avez déjà un compte ?' %}&nbsp;<a href="{{ login_url }}">{% trans 'Connectez-vous' %}</a>&nbsp;!</p>
{% endblock main %}