{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ object.title }} - {% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/style/css/vs2015.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock extra_head %}

{% block main %}
<h1 class="large">{{ object.title }}</h1>
{% if request.user.is_staff or object.course.author == request.user %}
    <div class="my-2 d-flex space-between">
        <a href="#" class="btn btn__info btn__large">{% trans 'Modifier le quiz' %}</a>
        <a href="#" class="btn btn__danger btn__large">{% trans 'Supprimer le quiz' %}</a>
    </div>
{% endif %}
<div class="center-text">
    {{ object.get_total_experience }}&nbsp;EXP
</div>
<div>
    {{ object.description|safe }}
</div>
{% if object.single_attempt %}
    <div class="note note__warning">
        <p>{% trans "Attention ! Vous n'avez droit qu'à un seul essai" %}</p>
    </div>
{% endif %}
<div>
    <ul>
        {% for question in object.order_question %}
            <li>
                {{ question.question_text|safe }}
                <ul>
                    {% for answer in question.get_answer %}
                        <li>{{ answer.content|safe }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock main %}

{% block javascript %}
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
{% endblock javascript %}
