{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Email d'activation envoyé" %} - {% endblock title %}

{% block main %}
<h1 class="large">ProgLangLearn</h1>
<div class="my-2">{% trans "Pour continuer votre inscription, veuillez compléter et suivre les inscriptions données dans le courriel qui vous a été envoyé." %}</div>
<div class="d-flex space-between">
    <a href="{% url 'account_login' %}" class="btn btn__large btn__outline__success">{% trans 'Se connecter' %}</a>
    <a href="{% url 'account_signup' %}" class="btn btn__large btn__warning">{% trans "S'enregistrer" %}</a>
</div>
{% endblock main %}
