{% extends 'base.html' %}

{% block title %}Connexion - {% endblock title %}


{% block main %}
<h1 class="large">S'identifier</h1>
<p class="lead"><i class="fas fa-user"></i> Connectez-vous à votre compte !</p>
<form method='POST' class="form mb-3">
    {{ form.errors }}
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.username.label }} : <span class="required-input">*</span><br>
        {{ form.username }}</label>
        <small class="form-text">
            {{ form.username.help_text }}
        </small>
    </div>
    <div class="form-group">
        <div class="password">
            <label>{{ form.password.label }} : <span class="required-input">*</span><br>
            {{ form.password }}</label>
            <input type="checkbox" id="showPWD">
            <label class="eye" for="showPWD"></label>
        </div>
        <small class="form-text">
            {{ form.password.help_text }}
        </small>
    </div>
    <small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont
        obligatoires.</small>
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">S'identifier</button>
    </div>
</form>
<p class="mt-1">Vous n'avez pas encore de compte ? <a href="{% url 'accounts:register' %}">Inscrivez-vous</a> ! <br>
    Vous avez oublié votre mot de passe ? <a href="{% url 'accounts:password_reset' %}">Changer mon mot de passe</a>.</p>
{% endblock main %}
