{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Connexion' %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans "S'identifier" %}</h1>
<p class="lead"><i class="fas fa-user"></i>&nbsp;{% trans "Connectez-vous à votre compte !" %}</p>
<form method='POST' class="form mb-3">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    {% include 'includes/form_snippet_fields.html' with form=form %}
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "S'identifier" %}</button>
    </div>
</form>
<p class="mt-1">{% trans "Vous n'avez pas encore de compte ?" %} <a href="{% url 'account_signup' %}">{% trans 'Inscrivez-vous' %}</a>&nbsp;!<br>{% trans 'Vous avez oublié votre mot de passe ?' %} <a href="{% url 'accounts:password_reset' %}">{% trans 'Changer mon mot de passe' %}</a>.</p>
{% endblock main %}
