{% extends 'base.html' %}
{% load i18n recaptcha3 %}

{% block title %}{% trans 'Connexion' %} - {% endblock title %}

{% block main %}
{% recaptcha_init %}
{% recaptcha_ready action_name='/' %}
{% url 'account_signup' as signup_url %}
{% url 'accounts:password_reset' as password_reset_url %}
<h1 class="large">{% trans "S'identifier" %}</h1>
<p class="lead"><i class="fas fa-user"></i>&nbsp;{% trans "Connectez-vous à votre compte !" %}</p>
<form method='POST' class="form mb-3">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    {% include 'includes/form_snippet_fields.html' with form=form %}
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "S'identifier" %}</button>
    </div>
</form>
<p class="mt-1">{% blocktrans %}Vous n'avez pas encore de compte ? <a href="{{ signup_url }}">Inscrivez-vous</a>&nbsp;!<br>Vous avez oublié votre mot de passe ? <a href="{{ password_reset_url }}">Changer mon mot de passe</a>.{% endblocktrans %}</p>
{% endblock main %}
