{% extends 'base.html' %}
{% load i18n static %}

{% trans 'Demande de réinitialisation de mot de passe' %}

{% block title %}{{ title }} - {% endblock title %}

{% block main %}
<h1 class="large">{{ title }}</h1>
<div class="my-4">
    <p class="lead">{% trans "Vous avez perdu votre mot de passe ? Entrez votre addresse email, et suivez les instructions pour avoir un nouveau mot de passe encore plus fort :)" %}</p>
    <form method="POST" class="form">
    {% csrf_token %}
    <div class="form-group">
        <label>{{ form.email.label }} : <span class="required-input">*</span><br>
        {{ form.email }}</label>
        <small class="form-text">
            {{ form.email.help_text }}
        </small>
    </div>
    {% blocktrans %}<small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont obligatoires.</small>{% endblocktrans %}
    <div class="center-text">
        <button type="submit" class="btn btn__info btn__large">{% trans "Réinitialiser mon mot de passe" %}</button>
    </div>
    </form>
</div>
{% endblock main %}
