{% load i18n %}
{% autoescape off %}

{% blocktrans %}
Vous recevez cet email car vous avez demandé une réinitialisation de mot de passe sur ProgLangLearn.
{% endblocktrans %}

{% trans "S'il vous plaît, cliquez sur le lien ci-dessous et suivez les instructions nécessaires à la réinitialisation :" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Voici votre nom d'utilisateur, si vous l'avez oublié : {{ user.get_username }}

Merci de nous faire confiance et d'utiliser notre site :)


De la part de toute l'équipe de ProgLangLearn,
{% endblocktrans %}
Guillaume LETELLIER

{% endautoescape %}