{% extends 'base.html' %}
{% load i18n %}

{% block title %}Email envoyé - {% endblock title %}

{% block main %}
<h1 class="large">{% trans "Demande de réinitialisation de mot de passe" %}</h1>
<div class="my-4">
    <p class="lead">{% trans "Nous vous avons envoyé un mail avec les instructions pour créer un nouveau mot de passe. Si un compte existe avec l'addresse email transmise, vous devriez recevoir un mail très rapidement !" %}</p>
    <p>{% trans "Si vous n'avez pas reçu de mail, vérifiez que vous avez entré l'addresse email avec laquelle vous vous êtes inscrit, et checkez votre dossier spam." %}</p>
</div>
{% endblock main %}
