{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Réinitialisation' %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans 'Réinitialiser mon mot de passe' %}</h1>
{% if validlink %}
    <p class="lead">{% trans "Saisissez deux fois votre nouveau mot de passe afin de vérifier qu'il a correctement été saisi." %}</p>
    <form method="POST" class="form">
    {% csrf_token %}
        {% include 'includes/form_snippet_fields.html' with form=form %}
        <div class="center-text">
            <button type="submit" class="btn btn__primary btn__large btn__300">{% trans 'Réinitialiser' %}</button>
        </div>
    </form>
{% else %}
    <p>{% trans "Le lien de réinitialisation est invalide, peut-être car il a déjà été utilisé. Faîtes plutôt une nouvelle demande avec le lien ci-dessus." %}</p>
    <div class="center-text">
        <a href="{% url 'accounts:password_reset' %}" class="btn btn__large btn__danger">{% trans 'Faire une autre demande' %}</a>
    </div>
{% endif %}
{% endblock main %}