{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "S'enregistrer" %} - {% endblock title %}

{% block main %}
<h1 class="large">{% trans "S'enregistrer" %}</h1>
<p class="lead"><i class="fas fa-user-plus"></i>&nbsp;{% trans 'Créez votre compte dès maintenant !' %}</p>
<form method='POST' class="form mb-3">
    {% csrf_token %}
    {% include 'includes/form_errors.html' with form=form %}
    <div class="row small-device">
        <div class="col-50 small-device">
            {% include 'includes/form_field.html' with field=form.username %}
        </div>
        <div class="col-50 small-device">
            {% include 'includes/form_field.html' with field=form.email %}
        </div>
    </div>
    <div class="form-group">
        {% include 'includes/form_field.html' with field=form.password1 %}
    </div>
    <div class="form-group">
        {% include 'includes/form_field.html' with field=form.password2 %}
    </div>
    <div class="form-group">
        <label><input type="checkbox" name="user-terms" required />&nbsp;{% trans 'Accepter les' %} <a href="{% url 'main:terms' %}">{% blocktrans %}termes et conditions d'utilisation</a> de Proglanglearn <span class="required-input">*</span></label>{% endblocktrans %}
    </div>
    {% blocktrans %}<small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont obligatoires.</small>{% endblocktrans %}
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">{% trans "S'enregistrer" %}</button>
    </div>
</form>
<p class="mt-1">{% trans 'Vous avez déjà un compte ?' %}&nbsp;<a href="{% url 'account_login' %}">{% trans 'Connectez-vous' %}</a>&nbsp;!</p>
{% endblock main %}
