{% extends 'base.html' %}
{% load i18n %}

{% trans "S'inscrire" %}

{% block title %}{{ title }} - {% endblock title %}

{% block main %}
<h1 class="large">{{ title }}</h1>
<p class="lead"><i class="fas fa-user-plus"></i>&nbsp;{% trans 'Créez votre compte dès maintenant !' %}</p>
<form method='POST' class="form mb-3">
    {{ form.errors }}
    {% csrf_token %}
    <div class="row small-device">
        <div class="col-50 small-device">
            <div class="form-group">
                <label>{{ form.username.label }} : <span class="required-input">*</span><br>
                {{ form.username }}</label>
                <small class="form-text">
                    {{ form.username.help_text }}
                </small>
            </div>
        </div>
        <div class="col-50 small-device">
            <div class="form-group">
                <label>{{ form.email.label }} : <span class="required-input">*</span><br>
                {{ form.email }}</label>
                <small class="form-text">
                    {{ form.email.help_text }}
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="password">
            <label>{{ form.password1.label }} : <span class="required-input">*</span><br>
            {{ form.password1 }}</label>
            <input type="checkbox" id="showPWD">
            <label class="eye" for="showPWD"></label>
            <small class="form-text">
                {{ form.password1.help_text }}
            </small>
        </div>
    </div>
    <div class="form-group">
        <div class="password">
            <label>{{ form.password2.label }} : <span class="required-input">*</span><br>
            {{ form.password2 }}</label>
            <input type="checkbox" id="showPWDConfirm">
            <label class="eye" for="showPWDConfirm"></label>
        </div>
        <small class="form-text">
            {{ form.password2.help_text }}
        </small>
    </div>
    <div class="form-group">
        <label><input type="checkbox" name="user-terms" required />&nbsp;{% trans 'Accepter les' %} <a href="{% url 'main:terms' %}">{% blocktrans %}termes et conditions d'utilisation</a> de Proglanglearn <span class="required-input">*</span></label>{% endblocktrans %}
    </div>
    {% blocktrans %}<small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont obligatoires.</small>{% endblocktrans %}
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">{{ title }}</button>
    </div>
</form>
<p class="mt-1">{% trans 'Vous avez déjà un compte ?' %}&nbsp;<a href="{% url 'accounts:login' %}">{% trans 'Connectez-vous' %}</a>&nbsp;!</p>
{% endblock main %}
