{% extends 'base.html' %}

{% block title %}S'inscrire - {% endblock title %}

{% block main %}
<h1 class="large">S'inscrire</h1>
<p class="lead"><i class="fas fa-user-plus"></i> Créez votre compte dès maintenant !</p>
<form method='POST' class="form mb-3">
    {{ form.errors }}
    {% csrf_token %}
    <div class="row small-device">
        <div class="col-50 small-device">
            <div class="form-group">
                <label>{{ form.username.label }} : <span class="required-input">*</span><br>
                {{ form.username }}</label>
                <small class="form-text">
                    {{ form.username.help_text }}
                </small>
            </div>
        </div>
        <div class="col-50 small-device">
            <div class="form-group">
                <label>{{ form.email.label }} : <span class="required-input">*</span><br>
                {{ form.email }}</label>
                <small class="form-text">
                    {{ form.email.help_text }}
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="password">
            <label>{{ form.password1.label }} : <span class="required-input">*</span><br>
            {{ form.password1 }}</label>
            <input type="checkbox" id="showPWD">
            <label class="eye" for="showPWD"></label>
            <small class="form-text">
                {{ form.password1.help_text }}
            </small>
        </div>
    </div>
    <div class="form-group">
        <div class="password">
            <label>{{ form.password2.label }} : <span class="required-input">*</span><br>
            {{ form.password2 }}</label>
            <input type="checkbox" id="showPWDConfirm">
            <label class="eye" for="showPWDConfirm"></label>
        </div>
        <small class="form-text">
            {{ form.password2.help_text }}
        </small>
    </div>
    <div class="form-group">
        <label><input type="checkbox" name="user-terms" required />&nbsp;Accepter les <a href="terms.html">termes
                et
                conditions d'utilisation</a> de Proglanglearn <span class="required-input">*</span></label>
    </div>
    <small class="d-block mb-1">Tous les champs avec d'un <span class="required-input">*</span> sont
        obligatoires.</small>
    <div class="center-text">
        <button type="submit" class="btn btn__primary btn__large btn__300">S'inscrire</button>
    </div>
</form>
<div class="social-btn">
    <div class="center-text my-1">
        <button class="btn btn__block btn__large btn__google"><i class="fab fa-google fw-normal mr-1"></i>
            S'inscrire
            avec
            Google</button>
    </div>
    <div class="center-text my-1">
        <button class="btn btn__block btn__large btn__twitter"><i class="fab fa-twitter fw-normal mr-1"></i>
            S'inscrire
            avec
            Twitter</button>
    </div>
    <div class="center-text my-1">
        <button class="btn btn__block btn__large btn__facebook"><i
                class="fab fa-facebook-f fw-normal mr-1"></i>
            S'inscrire
            avec
            Facebook</button>
    </div>
    <div class="center-text my-1">
        <button class="btn btn__block btn__large btn__github"><i class="fab fa-github fw-normal mr-1"></i>
            S'inscrire
            avec
            Github</button>
    </div>
</div>
<p class="mt-1">Vous avez déjà un compte ? <a href="{% url 'accounts:login' %}">Connectez-vous</a> !</p>
{% endblock main %}
