{% load static recaptcha3 i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %} data-theme="light" class="transition">

<head>
    <meta charset="UTF-8" />
    <meta name="language" content="fr" />
    <meta name="description"
        content="{% trans 'Apprenez les bases de la programmation en les manipulant dans des exemples simples et des projets plus complexes.' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="copyright" content="ProgLangLearn Inc." />
    <meta name="category" content="web, programming, languages" />
    <meta name="keywords"
        content="{% block keyword %}{% endblock keyword %}, web, pll, proglanglearn, programming, language" />
    <meta name="publisher" content="LETELLIER Guillaume" />
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#c5a31b" />
    <meta name="msapplication-navbutton-color" content="#c5a31b" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta proterty="og:type" content="website" />
    <meta property="og:title" content="ProgLangLearn" />
    <meta property="og:description" content="{% trans 'Apprenez les bases de la programmation en les manipulant dans des exemples simples et des projets plus complexes.' %}" />
    
    <title>{% block title %}{% endblock title%}ProgLangLearn</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'style/css/global.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'style/css/print.min.css' %}" media="print" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    {% recaptcha_init %}
    {% recaptcha_ready action_name='/' %}
    <style>
        select:not(.custom-multiple-select),
        select:not(.custom-select) {
            padding: 3px 5px;
            border-radius: 5px;
        }

        html[data-theme="dark"] select:not(.custom-multiple-select),
        html[data-theme="dark"] select:not(.custom-select){
            color: #ffffff;
            background: #666666;
        }

        select[name="language"],
        html[data-theme="dark"] select[name="language"] {
            font-size: 1rem;
            background-color: #c5a31b;
            font-weight: 600;
            color: #000000;
        }
    </style>
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    {% include 'includes/loading.html' %}
    {% include 'includes/scrollTop.html' %}
    {% include 'includes/switchers.html' %}
    <header {% block header_attr %}{% endblock header_attr %}>
        {% include 'includes/navbar.html' %}
        <div id="page-scroll-progress"></div>
        {% block header %}{% endblock header %}
    </header>
    <main {% block main_attr %}{% endblock main_attr %} role="main">
        {% block aside_left %}{% endblock aside_left %}
        <div class="container">
            {% for message in messages %}
            <div type="alert"
                class="alert {% if messages.level %}{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert__danger{% else %}alert__{{ message.tags }}{% endif %}{% endif %} alert__dismissable">
                {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </div>
            {% endfor %}
            {% block main %}{% endblock main %}
        </div>
        {% block aside_right %}{% endblock aside_right %}
    </main>
    <main>
        {% block comments %}{% endblock comments %}
        <div id="fb-root"></div>
    </main>
    <footer>
        {% include 'includes/footer.html' %}
    </footer>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0"></script>
    <script src="{% static 'js/main.jquery.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
    <script>$(function () { $("#langForm select").change(function () { $(this).closest('form').submit() }); {% block jquery %} {% endblock jquery %} });</script>
</body>

</html>