{% load static %}
<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="language" content="fr" />
    <meta name="description"
        content="Apprenez les bases de la programmation en les manipulant dans des exemples simples et des projets plus complexes." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="copyright" content="ProgLangLearn Inc." />
    <meta name="category" content="web, programming, languages" />
    {% comment %} Faire un block pour les keywords {% endcomment %}
    <meta name="keywords" content="web, pll, proglanglearn, programming, language" />
    <meta name="publisher" content="LETELLIER Guillaume" />
    <meta name="robots" content="index,follow" />
    <meta name="theme-color" content="#c5a31b" />
    <meta name="msapplication-navbutton-color" content="#c5a31b" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <title>{% block title %}{% endblock title%}ProgLangLearn</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'style/css/global.min.css' %}" media="screen" />
    <!-- <link rel="stylesheet" href="style/css/print.min.css" media="print" /> -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    {% include 'includes/loading.html' %}
    {% comment %} <div id="modal-session">
        <div class="modal">
            <h2>Politique de confidantialité</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptate culpa maiores fugiat, illo numquam
                aspernatur. Sit placeat provident quos possimus odio magni cupiditate ipsam illo nulla iste error quae
                dolore enim tempora eum nisi quo assumenda suscipit ea at similique, velit et? Id eligendi sapiente
                recusandae, eaque officiis ad.</p>
            <form action="base.html" class="form">
                <div class="form-group">
                    <label>Nom d'utilisateur :<br><input type="text" name="a" id="a"></label>
                </div>
                <button type="submit" class="btn btn__primary">Submit</button>
            </form>
            <div class="center-text">
                <a href="#modal" class="btn btn__outline__danger btn__large" rel="modal:close">J'accepte</a>
            </div>
        </div>
    </div> {% endcomment %}
    {% include 'includes/scrollTop.html' %}
    {% include 'includes/switchers.html' %}
    {% comment %} <div class="toast">Vous avez reçu 5 nouveaux messages</div> {% endcomment %}
    <header {% block header_attr %}{% endblock header_attr %}>
        {% include 'includes/navbar.html' %}
        <div id="page-scroll-progress"></div>
        {% block header %}{% endblock header %}
    </header>
    <main {% block main_attr %}{% endblock main_attr %}>
        <div class="container">
            {% for message in messages %}
                <div class="alert {% if messages.level %}{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert__danger{% else %}alert__{{ message.tags }}{% endif %}{% endif %} alert__dismissable">
                    {{ message }}
                </div>
            {% endfor %}
            {% block main %}{% endblock main %}
        </div>
    </main>
    {% block comments %}{% endblock comments %}
    <footer>
        <div class="container pt-4 pb-3">
            <div class="important-links">
                <a href="{% url 'main:terms' %}">Termes et conditions</a>
                <a href="{% url 'main:privacy' %}">Politique de confidentialité</a>
                <a href="{% url 'main:about' %}">À propos</a>
                <a href="{% url 'main:contact' %}">Contact</a>
            </div>
            <div class="social-media my-2">
                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" title="Github"><i class="fab fa-github"></i></a>
                <a href="#" title="Youtube"><i class="fab fa-youtube"></i></a>
                <a href="#" title="Discord"><i class="fab fa-discord"></i></a>
            </div>
            <div class="copyright">
                <h3>
                    &copy; <a href="{% url 'main:index' %}" class="primary-color">ProgLangLearn Inc.</a>
                </h3>
                <p class="mt-0">Tous droits réservés</p>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/main.jquery.js' %}"></script>
    {% block javascript %}{% endblock javascript %}
    <script>$(function(){ {% block jquery %}{% endblock jquery %} });</script>
</body>
</html>
